[2020-03-27 17:21] andy-igoshin commented on #536
$ dig rlnc.ru -t SOA

; <<>> DiG 9.11.3-1ubuntu1.11-Ubuntu <<>> rlnc.ru -t SOA
;; global options: +cmd
;; Got answer:
;; ->>HEADER<<- opcode: QUERY, status: NOERROR, id: 34994
;; flags: qr rd ra; QUERY: 1, ANSWER: 1, AUTHORITY: 2, ADDITIONAL: 19

;; OPT PSEUDOSECTION:
; EDNS: version: 0, flags:; udp: 4096
;; QUESTION SECTION:
;rlnc.ru.                       IN      SOA

;; ANSWER SECTION:
rlnc.ru.

[2020-03-30 05:34] andy-igoshin commented on #536
this is the case sensitivity problem.

fix:
dig rlnc.ru -t SOA | grep -i -c "^rlnc.ru"

[2020-03-30 08:56] schwindtwla opened #537 "script issue, not really a bug"
**Describe the bug**
/root/bin/getssl -u -q [FQDN]
/root/bin/getssl: line 839: command: drill: not found
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. start command line
2. see output

**Expected behavior**
Mark this as info.
Because the script works fine and continue, but it only seems that it has stopped here.

The line which cause the

[2020-03-30 11:03] verfriemelt-dot-org opened #538 "Future of the project"
Hi,

im using getssl for a while now without any hickups. today i was looking for wildcard support and had to notice, that the support is not officaly released yet. i found some remarks about your dayjob leaving no time. so, what is the future of this project? is it still actively maintained and developed?

thank you for all your effort so far!

[2020-03-30 12:36] timkimber commented on #537
Hi @schwindtwla

Which operating system are you using?  I can't reproduce this on debian, centos or ubuntu, but I'll make the change you suggest so that it's doesn't cause confusion

[2020-03-30 12:43] timkimber commented on #538
Hi @verfriemelt-dot-org

Good question.  The original maintainer, @serverco-a became too busy to keep up with issues/development of the project and so @EmiiKhaos and I volunteered to help maintain it.  Depending on who has time, one of us will respond to issues, fix problems and add functionality.

I've recently added automated tests and released the v2 code.  Automatically switching to v2 is next

[2020-03-30 12:48] timkimber commented on #530
Hi @sideeffect42

I've added a test and fixed getssl to support mixed case domains.  Could you test using the code in the `mixed-case` branch and let me know if this fixes it for you?

[2020-03-30 12:49] timkimber commented on #521
Hi @amaretzek

I've added a test and fixed getssl to work with mixed case domain names.  Could you please test using the code in the `mixed-case` branch and let me know if it now works for you.

[2020-03-30 13:14] schwindtwla commented on #537
It's an older OpenSuSE, here the command produce the output on STDERR.
You're right, on a current OpenSuSE Leap 15.1 the command is silent.

It's ok for both, to redirect the output to /dev/null.

[2020-03-30 17:33] #537 closed

[2020-03-30 20:54] timkimber commented on #536
Hi andy-igoshin,

Thanks - I just fixed the same problem in the `mixed-case` branch, can you test using that and let me know if it fixes your problem.

[2020-03-31 11:33] andy-igoshin commented on #536
it works, thanks! :)

[2020-04-01 10:45] #521 closed

[2020-04-01 10:45] #530 closed

[2020-04-01 10:45] #536 closed

[2020-04-01 12:10] sideeffect42 commented on #530
I only got around to testing the patch now. Both getssl v2.21 and the current `master` branch (after the merge) seem to work fine for me. Both with and without the duplicate `SANS`.

Thanks a lot for fixing.

[2020-04-06 04:12] armerpunkt opened #540 ""DNS lookup failed" on IPv6-only domain"
**Describe the bug**
Due to a recent update to getssl, one of my domains that is IPv6-only has started failing.  I believe this is because it is using dig for the validation now and dig is not checking for AAAA records.  If I edit line 452 from `elif [[ "$($DNS_CHECK_FUNC "${d}" -t A|grep -c -i "^${d}")" -ge 1 ]]; then` to say `elif [[ "$($DNS_CHECK_FUNC "${d}" -t AAAA|grep -c -i "^${d}")" -ge 1 ]

[2020-04-06 16:34] timkimber commented on #540
Hi @armerpunkt
Thanks for reporting this.  I'm going to add tests for ipv6 only to ensure that only that line needs fixing

[2020-04-07 21:51] uwedisch opened #541 "Various script errors with v2.21"
**Describe the bug**
With introduction of v2.21 I get on my system (Ubuntu 16.04 LTS) some sporadic errors:

a)
getssl: curl error : 6

b)
unknown API version

c)
example.com: DNS lookup failed for example.com
getssl: example.com: exiting due to config errors

**To Reproduce**
Steps to reproduce the behavior: Run getssl -a -q -u

**Expected behavior**
Running without errors like v2.20 did.

**Oper

[2020-04-08 18:05] timkimber commented on #541
Hi @uwedisch

I can't reproduce (a) and (b) but have seen them before when I've been on a branch which was merged and curl requests an invalid url.  v2.21 was only meant to be to keep the history accurate, I've just pushed 2.22 (which is the same as master for the last week)

I'll take a look at the DNS lookup code tonight - I'll change it to try all dns tools which should fix your problem as it w

[2020-04-08 20:23] timkimber commented on #541
Hi @uwedisch
Can you test with the changes in the `Check-for-domain-using-all-tools`  branch and let me know if it works.

[2020-04-08 20:25] timkimber commented on #540
Hi @armerpunkt
Can you test with the changes in the `Check-for-domain-using-all-tools`  branch and let me know if it works - I've added the line you suggested, but I'm also trying all dns utilities to check the domain exists so even if dig doesn't find your domain, nslookup should.
Thanks

[2020-04-09 05:31] uwedisch commented on #541
Hello @timkimber
Thank you for your fast response. I tested the `Check-for-domain-using-all-tools` branch several times and found it working.

[2020-04-10 05:29] armerpunkt commented on #540
Yes, that one works.

[2020-04-18 21:01] teknopaul opened #543 "getssl trys to access servers on localhost"
**Describe the bug**
A clear and concise description of what the bug is.

running
./getssl -a

getssl: for some reason could not reach http://tp23.org/.well-known/acme-challenge/...

The server that I was running getssl on cannot access tp23.org since this is a DNS name and the network does not work for localhost, but tp23.org is available on the internet. I can access .well-known/.. in a browser

[2020-04-18 21:08] timkimber commented on #543
Hi @teknopaul

By default `getssl` checks the acme-challenge has been uploaded successfully to ensure everything is ready for the letsencrypt servers to check before they issue the certificate.

If you don't need this behaviour, set `SKIP_HTTP_TOKEN_CHECK="true"` in `$HOME/.getssl/getssl.cfg` (for all domains) or in `$HOME/.getssl/top23.org/getssl.cfg` (for just tp23.org)

Thanks

[2020-04-19 00:07] funasoul opened #544 "On systems where seq is not installed, getssl will try to remove /tmp."
**Describe the bug**
A clear and concise description of what the bug is.

From commit 353dcf2 , getssl will now call `seq` command at runtime.
Some BSD systems (FreeBSD before 9.0-RELEASE and OpenBSD (even on current 6.6)) do not have `seq` command installed by default. If you run getssl v2.23 on such a system, getssl will try to remove `/tmp` directory after the script has failed. This can be ver

[2020-04-19 01:22] teknopaul commented on #543
Hi @timkinber

Thank you very much,

Top tool,  getssl has got me out of a tricky situation!

[2020-04-19 01:22] #543 closed

[2020-04-19 10:27] timkimber commented on #544
Hi @funasoul

Thanks for reporting this!  I've not managed to find a way to easily test on BSD systems which is why I didn't notice this problem.  I'll fix now

[2020-04-19 13:39] timkimber commented on #544
Hi @funasoul

I've just pushed 2.24 which removes the `seq` dependency and adds a check to ensure that the `clean_up()` function doesn't try and delete /tmp

Thanks for telling us about this bug, please let me know if you still see a problem

Thanks
Tim

[2020-04-19 13:45] funasoul commented on #544
Thank you @timkimber
I just tested on my environment (FreeBSD 8.1-RELEASE).

[code]

Now it works fine. Thanks!

[2020-04-19 19:34] timkimber commented on #544
Hi @funasoul

Thanks for testing the fix!

Tim

[2020-04-19 19:34] #544 closed

[2020-04-22 07:20] wolfaba opened #548 "Cheking HAS_HOST and HAS_NSLOOKUP for empty value is true everytime"
Hello,

The version 2.25 contains to conditions if [[ -n "$HAS_HOST" ]] and if [[ -n "$HAS_NSLOOKUP" ]]. These variables contains either "false" (if the command is missing) or "true" (if the command is installed). In this case both conditions are TRUE everytime and getssl tries to use "host" or "nslookup" even if they are not installed (the variable content is "false").

There are other places whe

[2020-04-22 09:34] timkimber commented on #548
Thanks for noticing and fixing this.  I've merged but will also add a test to catch this problem

[2020-04-22 15:00] glynge opened #549 "/home/<domain name>/public_html/.well-known/acme-challenge/json was blank"
Hi
I've seen the earlier bug reports regarding this, but cannot seem to fix it on my system:
# uname -a
FreeBSD bsd.lynge.org 11.3-RELEASE-p7 FreeBSD 11.3-RELEASE-p7 #0: Tue Mar 17 08:32:23 UTC 2020     root@amd64-builder.daemonology.net:/usr/obj/usr/src/sys/GENERIC  amd64
# /usr/local/bin/getssl -u
getssl ver. 2.25
[...]
# /usr/local/bin/getssl -f gsl.dk
Registering account
Verify each domain
Ver

[2020-04-22 16:44] timkimber commented on #549
Hi @glynge

I know what line is failing (it's line 865)
[code]
but I don't know why as the domains returned in the authlink request (lines 302 and 357 in your debug output) match your input domains.

I'll spin up an ec2 BSD instance to debug further

[2020-04-22 17:55] glynge commented on #549
Hmm. Maybe this can help you so you don't need to spin up a BSD:
 # echo "GsL.Dk" | tr A-Z a-z
FrK.▒j

# echo "GsL.Dk" | tr "[:upper:]" "[:lower:]"
gsl.dk

[2020-04-22 18:02] glynge commented on #549
# man tr
...explains it:
...
c-c        For non-octal range endpoints represents the range of
           characters between the range endpoints, inclusive, in
           ascending order, as defined by the collation sequence.  If
           either or both of the range endpoints are octal sequences, it
           represents the range of specific coded values between the
           range endpoints, i

[2020-04-22 18:19] glynge commented on #549
Just did a search replace for
tr A-Z a-z
->
tr "[:upper:]" "[:lower:]"

The script uses this exact construction 3 times and does not seems to use letter-intervals with tr other places.

This completely fixed my issue :-).

A quick google seems to say that Linus supports this syntax as well (but I'm not a Linux guy, so you'll have to verify that yourself).

Thanks for your great support and work on

[2020-04-22 18:56] timkimber commented on #549
Thanks for confirming the fix works!  I'm sure there was a reason that I didn't use :upper: and :lower: but I've just tested on centos7, ubuntu and alpine and the changes works so I'll commit and push as a new version.

[2020-04-25 12:33] timkimber commented on #549
Just pushed this as v2.26

[2020-04-25 12:33] #549 closed

[2020-04-25 12:34] timkimber commented on #548
Just released these changes in 2.26

[2020-04-25 12:34] #548 closed

[2020-04-25 12:35] timkimber commented on #540
Thanks for checking, changes were released in 2.25

[2020-04-25 12:35] #540 closed

[2020-04-25 12:35] #531 closed

[2020-04-25 12:36] #481 closed

[2020-04-26 12:56] Cyber1000 opened #552 "Ipv4 with nslookup doesn't work"
Im not getting back an Ipv6-Address in my case (which is correct), debug information says "found IPv4" and then "DNS lookup failed" I assume the problem is in code https://github.com/srvrco/getssl/blob/master/getssl, after "debug "found IPv4 record for ..." in the elif-branch I would expect a found_ip=true like in the other entries.
I'm using the latest version (with getssl -u), version 2.26

[cod

[2020-04-26 19:23] timkimber commented on #552
Hi @Cyber1000
Thanks for finding and fixing this!  I've just added tests for exactly this test case which prove the fix works.

[2020-04-26 19:23] #552 closed

[2020-04-26 19:24] timkimber commented on #541
Thanks, fix has been released

[2020-04-26 19:24] #541 closed

[2020-04-27 14:16] rkjohnsson opened #555 "ERROR curl "https://acme-v02.api.letsencrypt.org/acme/new-order" returned nothing"
This is with version 2.26. It is my first certificate renewal in a while so there have been several new versions since the last renewal.

purge /users/getssl/.getssl/greenchairpress.com/archive/2019_12_12_06_13
certificate obtained for greenchairpress.com
getssl: ERROR curl "https://acme-v02.api.letsencrypt.org/acme/new-order" returned nothing

- OS:   Fedora 25 x86_64
- Bash Version   bash.x86_64

[2020-04-27 16:00] timkimber commented on #555
Hi @rkjohnsson

That seems very strange, I've never seen `new-order` return nothing (usually any problems are seen much earlier in the process).

Can you run with debug turned on (`getssl -d`) and attach the debug logs and I'll try and find the problem for you.

[2020-04-27 18:11] rkjohnsson commented on #555
First a note: The new certificate was installed correctly even though getssl exited with an error.

I was unable to reproduce the error. I tried three different experiments:
1. same domain without --force
2. different domain with --force
3. same domain with --force

Maybe it was a glitch at letsencrypt.org?

Below is the log for experiment 3.

[getssl3.log](https://github.com/srvrco/getssl/files/4

[2020-04-27 20:58] timkimber commented on #555
Thanks for sending over the logfile.  It's even stranger that the new certificate was installed but `getssl` failed with an error!?

My 3 domains need renewing in the next week so I'll run with debug so that if this occurs again I can try and capture some more details.

[2020-04-29 19:38] #432 closed

[2020-04-29 19:39] timkimber commented on #555
I've renewed my three domains and haven't encountered this problem.  I'm going to agree with you that it must have been a problem with the letsencrypt server as neither of us can reproduce.

[2020-04-29 19:39] #555 closed

[2020-05-03 13:09] webservicebe opened #558 "Parse error reading JWS on revoking certificate"
Upon revoking a certifcate I get an 400 error.
Creating certficates or renewing isn't a problem.
OS: linux Slackware-14.2
Common config:
CA="https://acme-v02.api.letsencrypt.org"
ACCOUNT_EMAIL="[snip my email]"
ACCOUNT_KEY_LENGTH=4096
ACCOUNT_KEY="/root/.getssl/account.key"
PRIVATE_KEY_ALG="rsa"
RENEW_ALLOW="30"
SERVER_TYPE="https"
CHECK_REMOTE="true"

Domain-config
SANS="www.[snip domainname]"
AC

[2020-05-03 14:00] staticd234m commented on #432
Apologies for not getting back.. I finally saw the email notification.. That's excellent someone merged it, thanks a lot!

[2020-05-04 12:39] wolfaba commented on #552
Hello. Thank you for fixing this. Any plan to release this fix? Thank you.

[2020-05-04 22:14] masteralarm opened #559 "Set proper exit code"
The exit code should reflect if update was successful, not neccesary or if there was an error, similar to [acme-client](https://man.openbsd.org/acme-client.1):

That would make using *getssl* in other scripts more convenient.

[2020-05-05 15:26] timkimber commented on #558
Hi @webservicebe

Thanks for reporting this problem - I've not looked at the revoke code for a while and there aren't (yet) any tests.  I'll take a look and fix it.

[2020-05-06 12:46] andy-igoshin opened #560 "fullchain.ec.crt is absent"
**Describe the bug**

file fullchain.ec.crt is not created anymore.

file fullchain.crt contains ec certificate + chain.

DOMAIN_CHAIN_LOCATION exports correct fullchain.crt and
fullchain.ec.crt.

**To Reproduce**

$ getssl domain.com [with DUAL_RSA_ECDSA="true"]

**Expected behavior**

fullchain.crt contains rsa certificate + chain
fullchain.ec.crt contains ec certificate + chain

**Operating sys

[2020-05-06 13:34] timkimber commented on #552
Hi @wolfaba thanks for reminding me, I'll push a new release which includes this fix in the next day or so

[2020-05-06 15:06] timkimber commented on #560
Hi @andy-igoshin

Thanks for finding this - can you test the fix in the `fix-fullchain-ec-crt` branch.

Thanks

[2020-05-06 16:43] andy-igoshin commented on #560
yes, it works! :)

[2020-05-06 18:52] #560 closed

[2020-05-06 18:53] timkimber commented on #560
Thanks!

[2020-05-10 16:45] timkimber commented on #552
@wolfaba I've included this fix as part of the 2.27 release (which I've just done)

[2020-05-10 16:50] timkimber commented on #559
Hi @masteralarm I'm going to look into this, I'm a concerned that this might be a breaking change for some people (e.g. if they have a cron job which does something like `getssl -a || report-error`).

Would a command line argument to trigger this behaviour work for you?

[2020-05-11 20:02] #442 closed

[2020-05-12 22:04] masteralarm commented on #559
Hi,

yeah, that would perfectly work!

And thanks again for this great project, not that easy to find a simple and powerful acme-client like this. Keep up the good work!

[2020-05-13 17:06] #509 closed

[2020-05-14 16:09] timkimber commented on #559
I've just created a branch, `notify-valid` which returns 2 if the certificate is valid and the getssl is called with the `--notify-valid` argument.  Can you please test and let me know if this works for you.

[2020-05-18 15:06] #358 closed

[2020-05-22 07:07] seffparker opened #564 "Root CA missing for LetsEncrypt IdenTrust"
**Describe the bug**
The Chain certificate only contains the Domain Certificate and Intermediate CA. So, some clients including Linux _curl_ reports certificate error. To fix this, we have to manually append the LetsEncrypt IdenTrust Root CA.

**Bofore appending the ROOT CA**
[code]
**After appending the ROOT CA into Chain Cert**
[code]
**Expected Behavior**
The ROOT CA should be added automatical

[2020-05-22 07:10] seffparker commented on #564
Similar issue: https://github.com/srvrco/getssl/issues/272

[2020-05-22 18:41] mafalb commented on #564
The output from your "Bofore appending the ROOT CA" looks like you did not even sent the intermediate. Note that it complains about the "first certificate".

[2020-05-22 21:05] timkimber commented on #564
@seffparker I've just tested using one of my domains and curl on centos doesn't return any errors.  Can you give more details of the exact command and error message that it's showing.

I'm happy to add the DOMAIN_CERT_CHAIN_LOCATION variable mentioned in #272 if that solves the problem your having

[2020-05-25 09:20] timkimber commented on #559
Added in release 2.28

[2020-05-25 09:20] #559 closed

[2020-05-25 09:21] timkimber commented on #558
Fixed in release 2.28

[2020-05-25 09:21] #558 closed

[2020-06-01 06:08] seffparker commented on #564
The issue looks to be happening on Apache, not Nginx. After using the same certs generated by the getssl, the Nginx is properly returning the root cert too. It seems the Nginx is properly appending the ROOT cert taken from the OS certs pool before sending to the client, but Apache not.

[2020-06-02 10:04] webservicebe opened #566 "URL_revoke is not read"
On revoking in debug-mode you get:
ca_all_loc from https://acme-v02.api.letsencrypt.org gives <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content=
  "width=device-width, initial-scale=1">
  <title>Boulder: The Let's Encrypt CA</title>
*** snip html-code old api ***
</html>

ca_all_loc from https://

[2020-06-06 09:25] lovemax90 opened #567 "External Cert can not be updated"
**Describe the bug**
I have updated to v02 client and everything went well. But when i renewed the cert the log showed that:
Using API v2

getting certificate for www.realtour.co.nz from remote server

external cert has enddate Jun  1 20:36:06 2020 GMT ( 1591043766 )

local cert has enddate Aug 31 10:07:48 2020 GMT ( 1598868468 )
www.realtour.co.nz: remote cert expires sooner than local, attemptin

[2020-06-06 12:30] timkimber commented on #567
Hi @lovemax90

It looks like the `copy_file_to_location()` function is failing.  Can you tell us what the `DOMAIN_CERT_LOCATION`, `DOMAIN_KEY_LOCATION`, and `DOMAIN_CHAIN_LOCATION` variables are defined as in your `getssl.cfg` file.

Could you also try running with debug (the `-d`) if you haven't already

Thanks
Tim

[2020-06-06 13:52] #566 closed

[2020-06-06 13:54] timkimber commented on #566
Hi @webservicebe

Thanks for reporting this bug.  I've just pushed a fix and associated tests, please let me know if you see any problems.

Thanks

[2020-06-07 02:19] lovemax90 commented on #567
Hi Tim,
Appreciate for your prompt response first!
The related configuration you mentained listed as follows:
DOMAIN_CERT_LOCATION="/etc/ssl/www.realtour.co.nz.crt"
DOMAIN_KEY_LOCATION="/etc/ssl/www.realtour.co.nz.key"
CA_CERT_LOCATION="/etc/ssl/chain.crt"
DOMAIN_CHAIN_LOCATION="/etc/ssl/fullchain.crt"

And the debug log shown as follows:
Using API v2

getting certificate for www.realtour.co.nz fr

[2020-06-07 10:47] timkimber commented on #567
Hi @lovemax90

Firstly, I don't think this is a problem with `getssl` creating the certficates.  I think that either
1. You need to restart httpd to see the new certificate
2. The `getssl` config file is specifying the wrong place for the certificate

(this is based on https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/SSL-on-amazon-linux-2.html)

To test if (1) is the problem, could you restart

[2020-06-07 23:29] lovemax90 commented on #567
Hi timkimber
Thanks for your response !
The value of SSLCertificateFile in /etc/httpd/conf.d/ssl.conf  is  /etc/letsencrypt/live/www.realtour.co.nz/cert.pem
And i have already restarted httpd process and put certificates in /etc/pki/tls/certs, but the fault persisted.

[2020-06-08 21:07] timkimber commented on #567
Hi @lovemax90

Thanks for the information.  The problem is as follows:
* httpd is looking for the certificate in `/etc/letsencrypt/live/www.realtour.co.nz/cert.pem`
* BUT getssl is putting the certificate in `/etc/ssl/www.realtour.co.nz.crt`

The easiest solution is to change httpd to look in /etc/ssl.  If you change `/etc/httpd/conf.d/ssl.conf` as follows:
`SSLCertificateFile /etc/ssl/www.realtou

[2020-06-08 21:09] timkimber commented on #564
Hi @seffparker

I've just tested on Amazon Linux 2 with Apache and the Vivaldi and Edge Chromium based browsers and not seen this problem.  I'll try on Centos using various browsers and see if I can reproduce.

[2020-06-08 23:36] lovemax90 commented on #567
@timkimber
The certificate on server is the same as my local one now , everything goes well!
Tnx again for your technical support!

[2020-06-09 08:30] timkimber commented on #567
@lovemax90 no problem, I remember how confusing this was when I first started using certificates.  Thanks for letting me know it worked.  Let me know if you have any problems with the renewal

[2020-06-09 08:30] #567 closed

[2020-06-10 06:57] KLEPTOROTH commented on #538
Hey guys,
Great work, I am also hoping to get wildcard support - this way I can have the firewall download and install the wildcards and keep its own certs up to date without intervening.  Because I host the web portion of my domain elsewhere, it becomes a huge hassle messing around with DNS at the provider to swap it so that the acme challenges succeed, then have to swap back so my website works

[2020-06-10 08:57] willie68 opened #569 "renew certificate for dockerized server"
I'm using docker for all my services. So my personal website is a container, too.
The certificates (as some other parts) are located on a volume on the docker host.
and i would like to run getssl on this host via cron.
But i have a small problem. After renewing the certificates i have to restart the web container.
I saw, that there is already support for reloading services. Is there a possibility

[2020-06-10 09:04] willie68 commented on #569
Found the answer:
[code]
will do the work.

[2020-06-10 09:04] #569 closed

[2020-06-10 17:29] andy-igoshin opened #570 "CHECK_REMOTE fails if DUAL_RSA_ECDSA is set"
**Describe the bug**

CHECK_REMOTE fails if DUAL_RSA_ECDSA is set

**To Reproduce**

when EC and RSA certificates are installed on the nginx server CHECK_REMOTE fails since server returns EC certificate while RSA is tested by getssl instead.

**Expected behavior**

if DUAL_RSA_ECDSA is set both certificates should be tested. it should be separate decision about each certificate saying "ok / mismat

[2020-06-15 20:53] timkimber commented on #570
Hi @andy-igoshin

I've just added tests which reproduce this failure.  I'll work on a fix over the next couple of days.  Apologies for the delay in responding, I misread the issue initially

[2020-06-24 14:08] infiniteloopltd commented on #225
I had the same problem, and it turned out to be a space between the = and the ( after ACL

so it's

ACL=(‘/home/domain/.well-known/acme-challenge')

not

ACL= ('/home/domain/.well-known/acme-challenge')

[2020-06-24 21:17] timkimber commented on #225
Thanks for letting us know, I'll add a test and see if I can reproduce

[2020-06-24 21:18] timkimber commented on #538
Hi @KLEPTOROTH

I'm hoping to work on wildcard support next, although I've got less spare time at the moment so can't make any promises when I'll get a chance to add it.

[2020-06-26 07:06] etanol85 commented on #497
Thank you timkimber and rdebath!

I just tried rdebath jdayjdat awk script, but it seems not to display the date correctly. When I ran jdayjdat $(date ’+%d %m %Y’) it prints 2459026 and today it is 26-06-2020, date gives: Fri Jun 26 09:02:29 CEST 2020

Am I missing something?

[2020-06-29 12:05] hitd010000 opened #573 "test 2 servers for successful reload"
I'm running postfix and dovecot on same machine. Would be nice to test both servers after reload a new cert.

Maybe, a list like SERVER_TYPE="smtps,imaps" could be nice. Also httpd and ftpd often use same cert.

[2020-06-29 20:19] timkimber commented on #573
Hi @hitd010000
Sounds like a good idea - I've been meaning to add some tests for ftpd to fix/test passive ftp so I could implement this enhancement at the same time.

[2020-06-29 20:21] timkimber commented on #497
Hi @etanol85

I found out recently that github actions support MacOS so I'll write a test for this scenario and post an update.

[2020-07-10 14:38] hornschorsch opened #574 "$SANS as comma or blank separated list"
Hi,

i frequently make the mistake to specify the additional domains in getssl as a space separated list. It then first succeeds in verifying each domain but then fails to fetch the certificate. This is because it first does:
`alldomains=$(echo "$DOMAIN,$SANS" | sed "s/,/ /g")`
thus the commas are replaced by spaces anyway, but then:
`alldomains=$(echo "$DOMAIN,$SANS" | sed -e 's/ //g; s/,$//; y/,

[2020-07-14 20:43] timkimber commented on #574
Hi @hornschorsch

I added a test for this change and found that patch isn't sufficient to support space delimited SANS.  It's now working for my test cases - the fix is in the support-space-delim-sans branch if you could please test.

[2020-07-15 10:46] hornschorsch commented on #574
Works for me, thanks!

[2020-07-16 17:29] #574 closed

[2020-07-17 01:54] andy-igoshin commented on #570
fix is not correct when server return EC certificate first.

Updated getssl from v2.28 to v2.29
these update notification can be turned off using the -Q option

Updates are;
# 2020-06-06 Fix missing URL_revoke definition when no CA directory suffix (#566)
# 2020-06-18 Fix CHECK_REMOTE for DUAL_RSA_ECDSA (#570)
# 2020-07-14 Support space separated SANS (#574) (2.29)

...

getssl: auth.vsu.ru - rsa

[2020-07-17 10:10] timkimber commented on #570
Hi @andy-igoshin

Thanks for letting me know, I'll take a look at this.

[2020-07-17 10:19] timkimber commented on #510
Closing as [2.28](https://github.com/srvrco/getssl/releases/tag/v2.28) makes all client use v02 and letsencrypt are slowly deprecating v01

[2020-07-17 10:19] #510 closed

[2020-07-17 10:20] timkimber commented on #492
Closing this issue as v02 is now the default for new certificates and renewals without any config change (as of v2.28)

[2020-07-17 10:20] #492 closed

[2020-07-24 08:15] vnv099 opened #576 "On freebsd with default settings getssl script doesn't work from cron"
I tried getssl script on 10.4-RELEASE-p13 FreeBSD. Just adding to crontab string like from readme - `23  5 * * * /root/scripts/getssl -u -a -q` doesn't work, but from command line all working perfectly. It is something with PATH, that uses cron, because to solve this issue I had to make own script, set another PATH there and run it from crontab.
Script is:
[code]

[2020-07-25 09:55] killerbees19 opened #577 ""alternate" link relation?"
Any plans to support this feature before 2020-09-29?

https://community.letsencrypt.org/t/transition-to-isrgs-root-delayed-until-sep-29/125516/2?u=kb19

[2020-07-25 12:32] timkimber commented on #577
Hi @killerbees19

I saw that announcement this morning - missed the original post so this the fist is heard of it. I've already added it to my to do list

Tim

[2020-07-31 21:10] HerroBert commented on #400
Any solution for this problem?

[2020-07-31 22:13] DPComp commented on #400
Well, I'm using acme shell script ( https://github.com/acmesh-official/acme.sh ).

I use those commands ( manually wildcard )

1)
acme.sh --force --issue \
-d mydomain.com -d *.mydomain.com \
-d myotherdomain.com -d *.myotherdomain.com \
--dns --yes-I-know-dns-manual-mode-enough-go-ahead-please

2)
I go to my DNS server and add the 4 TXT entries ( results of the command )

3)
acme.sh --force --ren

[2020-08-04 20:30] timkimber commented on #570
Hi @andy-igoshin
I can't reproduce this problem, the CHECK_REMOTE code does
```openssl s_client -servername <domain> -connect <domain:port> -cipher RSA```
and
```openssl s_client -servername <domain> -connect <domain:port> -cipher ECDSA```

So the order that the certificates are returned shouldn't matter.

Could you please run using the `dual-cert-debug` branch with debug turned on and post the lo

[2020-08-04 20:32] timkimber commented on #400
Hi @HerroBert, it's next on my list of changes, hopefully I just need to merge in the changes in #376 and add some tests.

@DPComp thanks for posting this, seems like a lot of effort to generate the certificates - does acme.sh not support your DNS provider?

[2020-08-04 20:57] DPComp commented on #400
My DNS provider doesn't have any API.
acme.sh supports a lot of DNS providers, it's a great script.

[2020-08-05 11:59] andy-igoshin commented on #570
'-cipher' not working.

details: https://github.com/openssl/openssl/issues/10131

[2020-08-05 19:50] timkimber commented on #570
Hi @andy-igoshin

Thanks again for finding this.  I've updated the code in `dual-cert-debug` to use `-sigalgs` instead of `-cipher`.  Could you please test and let me know if it fixes your issue.

Thanks
Tim

[2020-08-06 08:30] andy-igoshin commented on #570
please add ECDSA+SHA384 :

-sigalgs 'ECDSA+SHA256:ECDSA+SHA384:ECDSA+SHA512'

[2020-08-06 13:52] timkimber commented on #570
Can't believe I missed that, thanks for noticing!  I've just pushed a fix for that and changed the other occurance of -cipher to use -sigalgs as well.  Let me know if it works for you and I'll merge and release.

Thanks

[2020-08-06 14:50] andy-igoshin commented on #570
unfortunately, Let's Encrypt week rate limits reached for me.

[2020-08-06 17:53] timkimber commented on #570
Understood, I'll merge the code and release once others have had a chance to test

[2020-08-07 11:02] andy-igoshin commented on #570
for RSA

-sigalgs 'RSA-PSS+SHA256:RSA-PSS+SHA512:RSA+SHA256:RSA+SHA384:RSA+SHA512'

[2020-08-07 13:32] andy-igoshin commented on #570
you also have to make a difference between "certificate on server is different" and "certificate not installed" cases.

[2020-08-11 21:40] timkimber commented on #570
Hi @andy-igoshin

Just to confirm I understand, you are saying that I should change the check that the certificate(s) were installed have 3 possible outputs:
# Certificate installed successfully
# Certificate on server is different
# Certificate not installed

That makes sense for DUAL_RSA_ECDSA as I don't think the current code warns if only one certificate was installed successfully

[2020-08-18 11:44] DOFandersolsen opened #579 "Spaces in SANS causes failure to generate CSR"
**Describe the bug**
The certificates I am currently using, is about to expire on august 20th, despite having had automatic renewal running for the last year or two.

When I try to manually run getssl, it generates an empty CSR file that causes the certificate generation to fail.

I got the following output (Bolded the part that lead me to the fix):
[code]

Look at the 3rd SAN, it says: DNS:,

If

[2020-08-19 11:19] timkimber commented on #579
Hi @DOFandersolsen

Thanks for reporting this and for the excellent bug report.  It's undoubtedly related to the change in #575 which was released in v2.29.  I'll add some tests for this scenario and fix the problem.

[2020-08-21 06:57] liayn opened #580 "The cli option -u is not documented in detail"
**Describe the bug**
[code]

As seen above the "-u" option is not documented in the options listing below.

**To Reproduce**

Run command as above

**Expected behavior**
Add the "-u" option description in the listing as well

[2020-08-21 06:58] liayn commented on #580
Forget it again...

[2020-08-21 06:58] #580 closed

[2020-08-31 10:53] wurtel2 commented on #538
FWIW, I tried integrating the changes in #376 into the current version, and it gets to this point:

[code]

[2020-08-31 22:05] KLEPTOROTH commented on #538
Since the Sophos doesn't support it and this package doesn't either, I actually resorted to using a rather complicated setup with a dedicated linux VM that does API calls to Cloudflare for DNS verification and then copies the certificate files via scp the UTM, then runs the certificate update command on the Sophos via a cron job.

[2020-09-01 12:41] wurtel2 commented on #579
Problem may be related to "xx, yy" being converted to "xx  yy" with two spaces. The spaces probably need to be collapsed to one; I see at least one place where the whole string is compared, line 803:
if [[ "$alldomains" != "$domains_in_csr" ]]; then

[2020-09-01 12:55] timkimber commented on #579
Thanks @wurtel2 - it is related to that.  I have a fix in progress but have been on holiday for the last 2 days with poor internet and haven't been able to test.  I'll try and push the fix tonight (and review your PR for the fork-bomb problem)

[2020-09-01 14:23] wurtel2 commented on #283
Are there more than just the openssl process in the background? I wouldn't expect so; so the "-n" could be dropped from the "wait".

[2020-09-01 14:51] wurtel2 commented on #391
I suspect this has already been fixed by https://github.com/srvrco/getssl/pull/556

[2020-09-02 08:14] timkimber commented on #579
Hi @DOFandersolsen

I've just pushed a fix in the ` sans-spaces-and-commas` branch.  If you could test then I'll merge and release.

Thanks

[2020-09-02 18:30] wurtel2 commented on #576
What error message did it give? I wouldn't be surprised if it couldn't find curl or openssl.
Note that you can add a PATH=... line to your crontab, so that getssl doesn't need to be wrapped in another script.

[2020-09-03 08:12] #570 closed

[2020-09-03 08:41] #440 closed

[2020-09-03 20:17] #579 closed

[2020-09-10 03:24] cjyzwg opened #584 "for some reason could not reach http://$domainname/.well-known/acme-challenge/$key"
I got this:for some reason could not reach http://$domainname/.well-known/acme-challenge/$key - please check it manually
when I use curl --user-agent getssl/2.29 -k --silent --location http://$domainname/.well-known/acme-challenge/$key,the contenntand is different from $keyauthorization,how can that be?

[2020-09-10 08:53] timkimber commented on #584
Hi @cjyzwg

The only reasons I can think of are

1. The update of the challenge token failed (placed in wrong location, sftp credentials not working, etc)
2. Two updates were run at the same time and the correct token was overwritten

Do you have a debug log that I can take a look at?

[2020-09-10 09:04] cjyzwg commented on #584
thx,I just check nginx  and that's working ,due to some part in nginx wrong configuation

[2020-09-10 15:10] joea99 opened #585 "Domain variants, different hosts and IP."
Seem to need a push.  Or maybe a tow truck.

Using getssl successfully on a hosted service for several domains, virtual or shared servers.

I have a local web server (my premises) with a separate IP for which I wish to create lets encrypt cert.    I attempted to install getssl on that sever, but when I run it to create the config files, I get:  "getssl: curl needs updating, your version does not s

[2020-09-10 17:45] timkimber commented on #585
Hi @joea99

It doesn't matter where you generate the certs (I generate on a raspberry pi for use on a cpanel based web server) so what you are asking is a supported solution.

Wherever you run the `getssl` script you need to be able to either
1. Update the DNS entries for your domain (there are some update scripts in https://github.com/srvrco/getssl/tree/master/dns_scripts)
2. or be able to create

[2020-09-10 20:01] joea99 commented on #585
Regardless of how I access/run getssl, the letsencrypt servers will attempt to use http or https access to the location specified by ACL?    The method specified by ACL is for access from whatever host the script is run on?

[2020-09-10 20:49] timkimber commented on #585
### Quick answer
The letsencrypt servers don't care where you run getssl (or any of the other ACME clients).  No, they will use either http/https OR dns.  Yes, the method in the ACL is for access from wherever the `getssl` script is run on.

### Detailed answer

You need to prove to the letsencrypt servers that you control the domain.  You can do this in one of 2* ways; creating a dns text entry f

[2020-09-10 21:10] joea99 commented on #585
I guess I am particularly dense today.    I am unclear on how the challenge token is initially created.

In the http01 case, seem the getssl script creates it according to the ACL, and the letsencrypt servers check it.  But I stare blankly at the dns01 case.  I undestand (I think) they will query DNS for the (my web) server, but I cannot see how they could create the files.  I guess I need to crea

[2020-09-10 21:37] timkimber commented on #585
Hi

You're not dense, its just very confusing as there are a lot of details and complexity to stop people getting ssl certificates for domains they don't own.

The steps are as follows:
1. You tell `getssl` your domain, whether you want to use dns or http verification and the details of how to update your dns / put a file on your web server.
2. `getssl` asks the letsencrypt servers for a challenge

[2020-09-10 22:31] joea99 commented on #585
Yes!  It clears it up quite well.  Thanks very much.   Should make it easier for me to get setup properly.

Thanks again.   I'll leave this open for a while, until I get a clean run, if that is OK?

[2020-09-11 17:45] timkimber commented on #585
If Bravenet use the standard version of cpanel, then there are a couple of scripts which will update dns entries.  I did a quick search and found https://github.com/birkoss/cPanel-Update-Dns although that's written in python so might require some libraries to be installed and will need a wrapper script as well.

I'll take a look at creating a dns_add_cpanel script but can't promise when it will be

[2020-09-11 18:12] joea99 commented on #585
Thanks.  They do not use cpanel, but what appears to be a custom home brew control panel.

I was successful by installing getssl on a local pc and putzing around until I got things working.  I did find an oddity in the main getssl.cfg where there were two slashes (//) in a path name.   I removed one and did not notice any effect.

![getssl cfg](https://user-images.githubusercontent.com/48037200/92

[2020-09-12 00:45] amebfederal opened #586 "ACL Challenge Issue"
I am trying to verify acme challenge. I have two servers sitting behind a loadbalancer.

I am using below code to copy challenge code to both of the server but it is being copied to only one (second one)

 ACL=('/var/www/html/clients_website/public/.well-known/acme-challenge'
        'ssh:username@client01:/var/www/html/clients_website/public/.well-known/acme-challenge')

 Since challenge is copie

[2020-09-12 13:42] joea99 commented on #585
So, the initial issue is moot, as the host service has no intention of offering an API or other means to alter DNS other than via their own control panel.

If there is a need to address the added comment about the double "slash", this can remain open.

[2020-09-13 11:05] timkimber commented on #585
Hi @joea99

Thanks for letting me know.  The only other option I can think of is to use a different ACME client, e.g. acme.sh, which support manual dns mode and manually update the dns entries which you would need to do every 3 months to renew the certificate.

If you can access your local web server from your hosting provider via ssh you could run `getssl` on the hosting provider in http01 mode a

[2020-09-13 14:39] timkimber commented on #586
Hi @amebfederal

The documentation for the ACL variable isn't good (I'll add this to my list of things to fix).  You need to separate the two locations using a semi-colon instead of using two elements in the array, i.e.

`ACL=('/var/www/html/clients_website/public/.well-known/acme-challenge;ssh:username@client01:/var/www/html/clients_website/public/.well-known/acme-challenge')`

[2020-09-14 00:16] amebfederal commented on #586
Great that worked. Would be good to have this in documentation. Did not realise this is for one domain and then separated by next line for additional domain name.

Thanks for your help.

[2020-09-14 22:21] byEkedahl opened #588 "double domain endings like www.example.co.uk www.example.co.za stoped working"
**Describe the bug**
I have multiple domains with double domain endings like .co.uk and .co.za they have worked fine until today when I was trying to add other a new host into my dev cert and do a force update.

I get this
sleeping 120 seconds before asking the ACME-server to check the dns
sending request to ACME server saying we're ready for challenge
getssl: ERROR curl "https://acme-v02.api.lets

[2020-09-15 08:04] byEkedahl commented on #588
Dug a bit more and can see the txt entry created in the dns and getssl gives this on validation
`expecting  bKy8eIT-RHo9d7k3SE3PKY6lTc6eU8EGggqHv792nlM

donald.ns.cloudflare.com gave ...
bKy8eIT-RHo9d7k3SE3PKY6lTc6eU8EGggqHv792nlM
sleeping 120 seconds before asking the ACME-server to check the dns`

[2020-09-15 09:35] timkimber commented on #588
Hi @byEkedahl

That last log statement "sleeping 120 seconds before asking the ACME-server to check the dns" says that we think the dns server has been updated with the challenge and we're going to tell the letsencrypt that we're ready for it to check.

Do you have a debug log showing the problem?

[2020-09-15 11:40] byEkedahl commented on #588
Hi @timkimber
The dns is updated i can see the txt entry looks like this
![image](https://user-images.githubusercontent.com/15943587/93205394-0a499a80-f758-11ea-99de-d18cb789aa9f.png)

the debug looks like this
`sending request to ACME server saying we're ready for challenge

url https://acme-v02.api.letsencrypt.org/acme/chall-v3/7209578282/wtugcw
VurlYGwa5aNldgqIPzNBTmCaKGJs4IthpcS1sBFb3Yk

using

[2020-09-16 04:16] donmurphycanada commented on #308
In summary I am using a recent copy of getssl (getssl ver. 2.30) and have used it to obtain Let's Encrypt certificates for several domains successfully however when trying to use the cname method with references to another domain the getssl script is unable to verify the domain.

Details:
1. - Using the method "The Advantages of a CNAME" with two domains as presented in https://letsencrypt.org/201

[2020-09-16 09:17] timkimber commented on #308
Hi @donmurphycanada

Thanks for the bug report, there have been a lot of changes to code which checks the DNS records have been updated since #381 so I'll take a look at the CNAME handling.

[2020-09-16 17:25] timkimber commented on #308
I've just tested this using a domain I control, Namecheap DNS and the Letsencrypt staging server and everything works as expected:

[code]

Can you attach debug logs for your domain so I can see which check isn't working as expected.

[2020-09-16 17:43] timkimber commented on #588
Hi @byEkedahl
I've just tested using .co.uk domain that I control and don't have any problems with double domain endings.  Looking further into the error message and curl error 3 is "malformed url" - it looks like the url contains a newline character which is very strange.

Can you try again and see if it occurs again?  If it is repeatable then I'll create a test and fix.

[2020-09-17 05:27] donmurphycanada commented on #308
Sorry I would love to help unfortunately I can't post the logs with the names etc.

As I said this is the code that is not returning the correct value:
dig TXT _acme-challenge.www.getssl.uk.test @dns2.namecheaphosting.com

I run the command manually and it is the same result?  I moved the name servers and the records to a different dns server and it worked straight away.  As I leave off the @dns2.

[2020-09-17 11:39] byEkedahl commented on #588
Hi @timkimber

So dug a bit deeper and made a new hostname and tested.....

turns out that this problem is specific to one hostname:
beta.<mydomain>.co.za fails
test.<mydomain>co.za works
www.<mydomain>.co.za works

can't see why when testing i just change the host in SANS entry so it's a really weird one.

[2020-09-17 12:46] timkimber commented on #588
Hi @byEkedahl

That's really strange, I'll add a "beta" hostname to the tests I run against pebble and the LE staging server and see if it's reproducible.

[2020-09-17 14:01] donmurphycanada commented on #308
Nice to see someone with the same issue.   So much confusion surrounding this
https://superuser.com/questions/1300671/recursive-dns-server-answers-with-cname-but-does-not-return-the-a-record

[2020-09-17 20:51] timkimber commented on #588
Hi @byEkedahl

I've tested locally using a primary domain of www.getssl.co.za with beta.getssl.co.za in the SANS list and can't reproduce.

Are you using the included `dns_add_cloudflare` script or have you modified it?  I wonder if the URI variable has been altered by the dns_add_command script which is causing this problem.

[2020-09-18 14:00] donmurphycanada commented on #308
The other thing I have observed  / determined is the is simply a preliminary test condition and does will not prevent certificates from being issued because if you can get past this issue in some fashion (I simply drop the @nameserver from the dig command) then the domain validation is deemed valid by getssl.

Let’s Encrypt on the other hand does not use this check directly, it performs it’s own d

[2020-09-21 14:06] byEkedahl commented on #588
Hi @timkimber
I used the exakt same getssl config file. The foldername when testing this was /mydomain.co.za then i added
`SANS="test.mydomain.co.za"` and that worked fine
after that I tested with `SANS="beta.mydomain.co.za, test.mydomain.co.za"` and it failed. Everything else was the same.

The thing is that my dev cert that I was updating had worked just fine when I added a hostname in July and

[2020-09-21 18:05] timkimber commented on #308
Hi @donmurphycanada

Thanks for the updates.  If you set PUBLIC_DNS_SERVER to "" then `getssl` will have the behaviour you need (i.e. it won't add @ NS to the dig query).

The duckdns.org servers have a similar behaviour (i.e. `dig ubuntu-staging.duckdns.org @ ns1.duckdns.org` returns nothing so I'm just writing some unit tests to make sure that we handle this scenario.

[2020-09-23 21:37] timkimber commented on #308
Hi @donmurphycanada

Can you test in the `multiple-ns` branch - I've just pushed some changes to how the CNAME lookups work so would be interested to know if it fixes the problem you're seeing

Thanks

[2020-09-29 09:04] byEkedahl commented on #588
Today it started to work again. Just something with that hostname i guess. Closing this issue.

[2020-09-29 09:04] #588 closed

[2020-10-07 18:28] timkimber commented on #586
I've updated the wiki and the default `getssl.cfg` file so I'm closing this issue

[2020-10-25 10:28] HerroBert commented on #347
Any news for that? Other tools are no alternative.

[2020-10-26 14:40] timkimber commented on #347
I've just got an initial version working, need to add a lot more test cases to make sure that no other changes are needed.  It's in the branch timkimber/issue374 if you want to take a look

[2020-10-27 21:25] HerroBert commented on #347
Something went wrong, somehow: getssl: ACME server returned error: 403:   "detail": "Order's status (\"pending\") is not acceptable for finalization"

[2020-10-29 06:56] waddles opened #594 "fullchain.crt does not contain root CA certificate"
As reported in #272 and #564, when `getssl` creates the `fullchain.crt` file, it only contains the server certificate and the intermediate CA's certificate, but not the root CA's certificate.

Some servers including those that use Java keystores will not accept a server certificate if it cannot valid the full chain of signers.

Specifically, Nutanix Prism (Element and Central) will not accept the

[2020-10-29 22:15] timkimber commented on #347
@HerroBert
I've only been testing against pebble (the test version of letsencrypt), I've made some more changes since you tested but it's not finished yet as I'm still fixing an issue with wildcard and non-wildcard domains in the same request.

[2020-10-29 22:18] timkimber commented on #594
Hi @waddles

Thanks for this excellent write up.  I'll add this functionality once I've finished the wildcard changes.

[2020-10-30 18:41] HerroBert commented on #347
I did a mistake. I tried to renew a wildcard domain with http and this is not possible :-(

[2020-11-03 21:55] timkimber commented on #347
@HerroBert I'm going to add a check to give a sensible error in that scenario.
I've just uploaded another revision - this handles the scenario where the domain list contains `*.domain.test` and `domain.test`.  Four more tests to write and then I'll make the changes more visible

[2020-11-03 21:57] timkimber commented on #400
Just to update anyone watching this issue, a working version of wildcard support is in the branch timkimber/issue374, I've got four more tests to write and I need to run the full test suite and then I'll merge the code.

[2020-11-04 14:52] Andrewbet1995 opened #596 "error during generating rsa private key"
When I try to obtain a .der file through the command below that allows me to set a password, I obtain a strange error.

After opening the command prompt and inputting the following commands:
"cd c:\

openssl req -newkey rsa:2048 -keyout key.der -out req.der -outform DER"

This is the error message that I receive:
Generating a RSA private key
...................+++++
...............................

[2020-11-04 16:14] #596 closed

[2020-11-05 20:32] twainj commented on #268
I have been fighting to get the output of cron runs of  `getssl` to a log file for quite some time now, as I apparently have an error that is occurring when run from cron, and I can't see the output to determine what it is.

I can only conclude that there is something that needs to happen in the script itself to make this possible, unless someone has been successful in getting such logs.

I have t

[2020-11-09 04:31] oakapplenet opened #597 "scp to remote host needs mkdir first"
**Describe the bug**
scp needs to mkdir first

**To Reproduce**
Steps to reproduce the behavior:

An ACL entry like

ssh:host-139:/export/web/oak/web/.well-known/acme-challenge

leads to an scp which fails if /export/web/oak/web/.well-known/acme-challenge does not exist yet.

**Expected behavior**
The mkdir should be automatic.

**Operating system (please complete the following information):**

-

[2020-11-09 07:39] mmclist opened #598 "Can't renew certificates (unable to load X509 request)"
**Describe the bug**
Can't renew certificates. getssl ver. 2.29 was configured and worked properly until today. I didn't edit any config file, upgreded script to the latest version 2.30, and it still not works.

**To Reproduce**
sudo ./getssl -a
Check all certificates
creating domain csr - /root/.getssl/mydomain/mydomain.csr
Error Loading request extension section SAN
34380884552:error:2206D06D:X5

[2020-11-09 20:31] timkimber commented on #268
Hi @twainj

I've not had any problems saving the logfile from `getssl` from cron, but to test I started an Ubuntu 20 LTS instance on AWS and ran the following commands to setup the environment:

[code]

Then I created a crontab entry as follows (where 11 is the next minute):
[code]

and verified that the logfile contains the error message:
`cat /tmp/getssl.log`
[code]

Can you try something like s

[2020-11-09 20:33] timkimber commented on #597
@oakapplenet

Thanks for this bug report - I'll add the change you suggest (and some tests for ssh/scp at the same time)

[2020-11-09 20:37] timkimber commented on #598
Hi @mmclist

Thanks for reporting this, it appears to be related to OpenSSL and probably something to do with the settings in the openssl.cnf file.  I'll try and reproduce and fix.

[2020-11-10 06:03] killerbees19 commented on #577
New deadline for this feature: 2021-01-11

Let's Encrypt will switch to the new CA by default at this date.

@timkimber Any updates? Do you need help with this feature?
Thanks for your ongoing efforts to maintain GetSSL! :-)

[2020-11-11 22:10] timkimber commented on #577
Hi @killerbees19
I'm just finishing the wildcard changes, then I'm going to look at the "renewal on FreeBSD" issue (#598) and then I'll add this feature, will probably be sometime next week.

[2020-11-19 17:50] #347 closed

[2020-11-22 16:54] canton7 opened #600 "Poor support for acme-dns DNS setup"
Tools such as [acme-dns](https://github.com/joohoi/acme-dns) run a local DNS server which just serves TXT records, and set up the local machine as a delegated nameserver just to handle the _acme-challenge subdomain. An example set of DNS records to make this work is:

1. A CNAME record from _acme-challenge.example.com to _acme-challenge.acme.example.com (you can use a different subdomain to acme i

[2020-11-24 18:34] timkimber commented on #600
Hi @canton7
Thanks for raising this.  I hadn't heard about acme-dns before, it sounds like a great solution if your DNS provider doesn't have a scriptable interface.

I think the easiest solution (skipping the checking sequence) would cause problems.  The letsencrypt support forum has frequent requests for help after someone has been locked out after incorrectly configuring their client and hittin

[2020-11-24 21:36] canton7 commented on #600
Thanks for your response! I started using a similar set-up (same principle, different tool) back when Linode took 15 mins to update records, but it's still nice to keep API keys which can change DNS records off the machine.

Personally I'd be happy taking responsibility for ensuring my setup worked on the staging endpoint first, so I'd be happy with an undocumented config var which disabled the ch

[2020-11-26 10:38] canton7 commented on #585
You can use something like [acme-dns](https://github.com/joohoi/acme-dns). This basically runs a DNS server on the machine which is requesting the certificates, but that DNS server is only responsible for the _acme-challenge subdomain used by letsencrypt. All other DNS queries are resolved by your main DNS server, but the challenges from letsencrypt are specially handled by a local DNS server whic

[2020-12-01 08:37] NicoP-S commented on #308
Hi @timkimber i just updated from 2.30 to 2.31  and CNAME lookups does not work anymore.

Does not work:
[code]

Before the first grep was not there. I think this breaks the check.

[2020-12-02 22:06] timkimber commented on #308
Hi @NicoP-S

Thanks for reporting this.  I remember I needed to add that line, but can't remember why.

I'm happy to remove it and release as a new version if that will fix the problem for you.

I'm going to add some test cases for CNAMEs as I think that's one of the problems using acme-dns (#600).  Can you confirm that you have something like the following as your dns entry (example taken from a

[2020-12-07 03:00] joea99 opened #611 "error with v2.31"
**Describe the bug**

update to v2.31 fails.  Appears to begin but . . .

3121408@medusa32:~$ sh getssl --upgrade
getssl: line 1875: =dig: command not found
Updated getssl from v2.30 to v2.31
these update notification can be turned off using the -Q option

Updates are;
# 2020-10-02 Various fixes to get_auth_dns and changes to support unit tests (#308)
# 2020-10-04 Add CHECK_PUBLIC_DNS_SERVER to ch

[2020-12-07 09:29] bencgreen opened #612 "mktemp not working correctly on Alpine Linux"
**Describe the bug**
On Alpine Linux mktemp throws error when templates don't end with precisely XXXXXX.  E.g. [here](https://github.com/yarnpkg/yarn/issues/2122) and [here](https://github.com/pires/docker-elasticsearch/issues/56).  There is a difference between the busybox and GNU versions of `mktemp`.

**To Reproduce**
Steps to reproduce the behavior:

1. Install getssl on Alpine Linux
2. Reques

[2020-12-07 09:41] bencgreen commented on #612
With `coreutils` installed:

[code]

[code]

Without `coreutils`:

[code]

[2020-12-07 09:45] bencgreen commented on #612
Suggested fix: replace each instance of `mktemp -t getssl` with `mktemp -t getssl.XXXXXXXXXX`.  As far as I can tell this will then work on all platforms.

[2020-12-08 15:13] timkimber commented on #612
Hi @bencgreen

I've just had a quick look at this and was confused as we only try `mktemp -t` if `mktemp` fails which I can't reproduce.  Can you post the output of `mktemp` on its own to show the error message?

I don't see any issue with the fix you suggest, I'll add a test case to ensure it works as expected on all systems and push the change.

[2020-12-08 15:36] bencgreen commented on #612
Thanks @timkimber I did some further digging and somehow `/tmp` had odd permissions.  I have run `chmod a=rwx,u+t /tmp` and will retest and let you know later tonight if I have time.  Regardless though it looks like `mktemp` now does require the Xs at the end?

[2020-12-08 16:29] sidrew commented on #308
So... this worked in earlier versions, such as v2.27 ... here's an example of a CNAME configuration:

[code]
In 2.27, et al... the drill/dig check looked like this:

[code]
... this worked beautifully... but for some reason in 2.31 ... this was changed to this...

[code]
... which of course in this case completely prevents check_result from returning the actual TXT record. So, I'm trying to figure

[2020-12-08 21:55] timkimber commented on #612
@bencgreen Agreed - from checking on a few systems it appears `mktemp` does require X's in the template name, I've added that to all the `mktemp` calls and made the script fail if both calls to `mktemp` fail and added tests.

[2020-12-09 09:01] bencgreen commented on #612
@timkimber That sounds good. I can confirm it was a permissions issue - I am not running getssl as root, and `/tmp` didn't have global write permissions:

[code]

[2020-12-09 11:40] alexte commented on #577
As this issue is still open, is it correct that this "preferred chain" option is not in the current version, yet ?

[2020-12-09 12:56] NicoP-S commented on #308
@timkimber Yes our CNAME records look like this.

[2020-12-09 21:30] timkimber commented on #612
Good to know - thanks for the update!

[2020-12-09 21:31] #612 closed

[2020-12-12 16:10] bencgreen commented on #594
+1 for this - having just switched to use getssl from certbot, a couple of clients I use are complaining about verification (e.g. curl, owncloud).

[2020-12-17 14:49] veitw opened #614 "Missing delimiter definitions cause unnecessary regeneration of CSR with every certificate renew"
In create_csr(), missing delimiter definitions in both read to array as well as string comparison cause regeneration of CSR everytime a certificate with more than one SAN is renewed.

**Problem 1**
In lines 898 and 900, `read -r -a` is used to read a list of newline separated values into the array ${alldomains[]}.
Without defining `\n` as delimiter using `-d`, only the first value is read into the

[2020-12-17 14:53] veitw commented on #614
PR #615 fixes the issues described by explicitly defining `\n` as delimiter for the relevant read to array and generate list occurrences.

[2020-12-18 11:59] wurtel2 opened #617 "v2.31 fails to verify DNS"
getssl tries to use a root DNS server to verify the domain, which obviously will fail as _acme-challenge.example.com is known by the example.com DNS server, not the root server. It should of course use the DNS server that is registered as the nameserver for the domain.

Example output:

 # getssl/getssl example.com
existing csr at /root/.getssl/example.com/example.com.csr does not have the same do

[2020-12-18 12:32] wurtel2 commented on #617
Looks like 75d06be removed a "tail -1" from the "dig +trace" pipeline; the last line is the domain's nameserver, with +trace all nameservers from the root up to the domain's nameservers are included, which explains why the root nameserver is being interrogated.

[2020-12-18 21:26] timkimber commented on #617
Hi @wurtel2

Thanks for reporting this, I've a change to get_auth_dns() locally to fix some issues found when changing DNS provider, so I'll create a test for this scenario, fix it, and push the changes together.

[2020-12-20 22:23] timkimber commented on #614
Fixed by PR #615

[2020-12-20 22:23] #614 closed

[2020-12-21 22:38] joea99 commented on #611
Perhaps my initial posting was inaccurate.  Today I attempted again to update:

myhost:~$ sh getssl --upgrade
getssl: line 1326: syntax error near unexpected token `<'
getssl: line 1326: `      IFS=$'\n' read -r -d '' -a ns_servers < <(echo "$res" | awk '$4 ~ "(NS|SOA)" {print $5}' | sed 's/\.$//g')'

Please advise if more information is required, so I can get to a resolution.

[2020-12-22 11:46] timkimber commented on #611
Hi @joea99

Sorry forgot about this issue.  There should be no reason why `dig` is required to do an update, I'll take a look today and see if I can work out what's not working

[2020-12-23 20:12] killerbees19 commented on #577
btw: https://letsencrypt.org/2020/12/21/extending-android-compatibility.html

Good news, or not? So the mentioned feature isn't high priority at the moment.

[2020-12-24 19:16] timkimber commented on #577
Hi @killerbees19

That is good news as I've not had time to look at implementing this feature yet!  When the root certificate changes it should all work but adding this functionality will enable us to create certificates early to see if it causes any problems.  I'm going to implement it at the same time as #594/#564

[2020-12-24 19:17] timkimber commented on #611
Hi @joea99

This is fixed in the associated PR, but I don't want to release until after Christmas

[2020-12-24 19:24] joea99 commented on #611
OK, great, I'll wait if you prefer.

[2020-12-25 00:14] joea99 commented on #611
So, I was playing around a bit, with version 2.30 using the --nocheck option.

I was laboring under the impression that dig was not being found in the sh environment on that system.  Not so.  I wrote a trivial program to call dig and it worked fine.   Ram ot thusly: "sh test.sh".

Then I realized the error referred to dig but in this fashion: getssl: line 1875: =dig: command not found

When I used

[2020-12-25 00:40] joea99 commented on #611
There is something else I should add.

getssl is called this way:

domain=some.domain
sh getssl  $domain

The sample config scripts I was provided for use in that environment were supplied to be with this variable in use.
They maintained that the earlier nslookup error "could be ignored" and seemed to cause no problems.
I do not recall if it also had the "=" sign in the error.

I can supply that c

[2020-12-25 01:03] vasiliyaltunin commented on #236
Still have this problem with Debian 10 installed in WSL2 on Windows
PORT/EPRT (Active Mode/Extended Active Mode) is not supported. Use PASV/EPSV instead of this

[2020-12-27 15:48] timkimber commented on #611
Hi joea99

That's interesting - seems like it might be the config script which causes the problem!  It was probably some sort of workaround to ensure the dns lookup of the acme challenge worked.  I've made lots of changes to try and make that section of code robust so they might not be needed any more.

Can you try with the new version I've just released (v2.32) and let me know whether you still h

[2020-12-27 17:44] joea99 commented on #611
2.3.2 fails as well, pretty much immediately.

3121408@medusa32:~$ sh getssl -d $domain
getssl: line 1351: syntax error near unexpected token `<'
getssl: line 1351: `      IFS=$'\n' read -r -d '' -a ns_servers < <(echo "$res" | awk '$4 ~ "(NS|SOA)" {print $5}' | sed 's/\.$//g')'

The -d option does not produce a file I can find.

I can send or attach the config files.  Do you prefer I paste/drop i

[2020-12-27 19:21] timkimber commented on #611
Hi @joea99
I don't think the config file will help - I think this might be because I've accidentally started using a bash 5 feature and you are using bash 4.2.  I'll see if I can reproduce and fix.

[2020-12-28 14:11] wurtel2 commented on #617
It seems that with v2.32 it still fails. Around line 1311 "dig" is used with +trace +nocomments "$gad_d" "$gad_s"  however "$gad_s" seems to be empty (SANS list is empty, if that matters; I'm testing how to get a wildcard certificate). The empty string causes dig to output the root servers again.

If I remove the "$gad_s" from the argument list it succeeds.

[2020-12-28 16:16] timkimber commented on #617
Hi @wurtel2

The `dig` command on line 1311 is meant to return all the nameservers, but the code block starting at line 1349 should remove all but the last set (I think we can't use the domain name here in case it's a CNAME)

Can you try the following bit of code in a new bash shell and tell me if it outputs the root-servers
[code]
For me it shows `error in making qname` and outputs `a.iana-server

[2020-12-28 16:21] wurtel2 commented on #617
I had modified the getssl script, but I had made a backup copy first:

root@tix:/tmp# . /root/getssl/getssl.v2.32 --source
root@tix:/tmp# find_dns_utils
root@tix:/tmp# PUBLIC_DNS_SERVER=
root@tix:/tmp# CHECK_ALL_AUTH_DNS=true
root@tix:/tmp# get_auth_dns example.com
root@tix:/tmp# echo $primary_ns
k.root-servers.net d.root-servers.net f.root-servers.net i.root-servers.net l.root-servers.net a.root-

[2020-12-28 17:07] timkimber commented on #617
Thanks @wurtel2
I've managed to reproduce locally, although not as a test and I'm sure the fix in `test-root-servers` will fix this.  If you can confirm then I'll release the fix.

[2020-12-28 17:22] wurtel2 commented on #617
It looks like that branch does indeed fix the problem. However as I had just obtained the certificate a couple of hours ago, the domain is apparently "already validated". I copied the config to a subtely different domain (non-existing subdomain), and it is testing against the correct nameserver so that should be corrected now.

[2020-12-30 18:19] #617 closed

[2020-12-30 21:34] timkimber commented on #611
Hi @joea99
I've added tests using bash 4.0 and bash 4.2, and both work without error so it must be something in your config files.

If you don't want to share the files, I think just the output from `grep -i dig <config file>` should be fine, or pastebin, or post here with any sensitive information removed, or create a private repo in github and add me as a collaborator or I can create a private r

[2020-12-30 21:48] joea99 commented on #611
I would gladly place the files in a private repo, if you don't mind creating one, as I
have never done it.  Assuming I can follow instructions . . .

Thanks for all your hard work.  I'm not sure if I should be happy to provide a challenge
or chagrined that I've burdened your holiday time. . .

joe a.

[2020-12-30 21:59] timkimber commented on #611
It's not a problem - I stopped coding for work about 10 years ago so just do this and some personal projects for fun!

I've created a private repo, timkimber/getssl-issue612, and invited you as a collaborator.  I've got to finish doing my tax returns so I'll look at any files you upload tomorrow.  Once I've replicated the bug, I'll delete the files and repo.

[2021-01-03 14:45] dawidi commented on #576
I think the relevant difference that makes it work with your script isn't the PATH, but that you've explicitly specified the working directory using `-w /etc/getssl`.

I just ran into a very similar issue while moving my getssl instance from cron to a systemd timer.
* When called from cron, getssl expected the domain-config subdirectories at `/root/.getssl/example.com`
* but when called from the t

[2021-01-06 21:23] #611 closed

[2021-01-12 15:32] Oslik68 opened #623 "ACME challenge validation issue"
**Describe the bug**
I had a script set-up and tested sometime early December and all was working fine for a while. Now I noticed that I'm getting an error. It seems that script adds ":" at the end of the ACME challenge validation. Spcifically I'm getting this error:
getssl: myprospectsmanager.com:Verify error:    "detail": "Fetching https://www.myprospectsmanager.com/.well-known/acme-challenge/JY

[2021-01-12 19:23] timkimber commented on #623
Hi @Oslik68

The extra ':' is just added when the error message from LetsEncrypt is display by the following line of code:
`error_exit "$domain:Verify error:$err_detail"`

Checking on the LetsEncrypt community forums return a number of similar reports (e.g. https://community.letsencrypt.org/t/error-getting-validation-data/88130/2) which all seem to be because port 80 is closed on the server and Le

[2021-01-12 20:14] Oslik68 commented on #623
Thank you, but I bit confused. When I click on the link in SSH client it
get's me an error, but when I remove in the browser window trailing ":" it
works. What should I do? Thank you.

Dmitri

On Tue, Jan 12, 2021 at 2:23 PM Tim Kimber <notifications@github.com> wrote:

[2021-01-12 20:32] timkimber commented on #623
Hi @Oslik68

It's not something I know how to fix, but I'll try and help.  Do you use a hosting provider (e.g. I use Namecheap hosting) or is the website running on a server you control?

[2021-01-13 01:32] Oslik68 commented on #623
Hi,

Thank you, I think I figured it out. You were right. My ip6 is not
configured on the server (NGINX), but has a AAAA record in DNS. When I go
through the browser it resolves to ip4, so no issues. But
LetsEncryp resolves to ip6 hence the issue. You pointed me in the right
direction and I'm all set. Thank you very much!

BTW how did you get to the debug record? Just in case I need to
troubleshoo

[2021-01-13 20:29] timkimber commented on #623
Hi @Oslik68

I'm glad to hear that you've fixed the problem!

I used https://letsdebug.net to test which is a publicly available debugging tool provided by LetsEncrypt

[2021-01-13 20:29] #623 closed

[2021-01-13 20:47] Oslik68 commented on #623
Got you! Thanks a lot Tim for prompt responses and help. Much appreciated.

Dmitri

On Wed, Jan 13, 2021 at 3:29 PM Tim Kimber <notifications@github.com> wrote:

[2021-01-19 09:39] almorak commented on #584
hi @timkimber
I got likely error "for some reason could not reach ...", adding  SKIP_HTTP_TOKEN_CHECK=true did a trick,
but i got following:
creating account key /root/.getssl/account.key
creating key - /root/.getssl/account.key
Generating RSA private key, 4096 bit long modulus
.......................................................++
...............................................................

[2021-01-19 20:33] timkimber commented on #584
Hi @almorak

It's not the same issue as the token is the same for both (`x29NcUD9lq2791OTw-cmUJEeb7AyJOxK3lgE-Ys_yZQ`) but the thumbprint (part after the ".") is different (`Ys_yZQ.HxXEu_gTPq4TXC3yhpYbEDNDO7_q4lILAysaSyOqJ98` vs `Ys_yZQ.L9TmIxFp5o3mqug72753mqJXuF2J96wzPZyElgML0O0`

This means the token has been signed by a different account key to the one expected by the LetsEncrypt server which I

[2021-01-20 03:09] almorak commented on #584
the following log is the case without SKIP_HTTP_TOKEN_CHECK=true

detected os type = linux

Running Ubuntu 14.04.5 LTS \n \l

checking for required which ... /usr/bin/which

checking for required openssl ... /usr/bin/openssl

checking for required curl ... /usr/bin/curl

checking for dig ... /usr/bin/dig

function dig found at /usr/bin/dig  - setting DNS_CHECK_FUNC to dig

checking for required di

[2021-01-20 03:16] almorak commented on #584
This is the log with SKIP_HTTP_TOKEN_CHECK=true

detected os type = linux

Running Ubuntu 14.04.5 LTS \n \l

checking for required which ... /usr/bin/which

checking for required openssl ... /usr/bin/openssl

checking for required curl ... /usr/bin/curl

checking for dig ... /usr/bin/dig

function dig found at /usr/bin/dig  - setting DNS_CHECK_FUNC to dig

checking for required dirname ... /usr/bi

[2021-01-21 21:09] timkimber commented on #584
Hi @almorak

Thanks for this but even running on Ubuntu LTS 14 I can't reproduce.  Could you try running using the version of getssl in the `debug-584` branch (it's just got some extra debug statements) and post the output of getssl -d

[2021-01-26 03:01] almorak commented on #584
Hi @timkimber

debug-584 log  without SKIP_HTTP_TOKEN_CHECK=true :

detected os type = linux

Running Ubuntu 14.04.5 LTS \n \l

checking for required which ... /usr/bin/which

checking for required openssl ... /usr/bin/openssl

checking for required curl ... /usr/bin/curl

checking for dig ... /usr/bin/dig

function dig found at /usr/bin/dig  - setting DNS_CHECK_FUNC to dig

checking for required

[2021-01-26 03:02] almorak commented on #584
debug-584 log with SKIP_HTTP_TOKEN_CHECK=true :

detected os type = linux

Running Ubuntu 14.04.5 LTS \n \l

checking for required which ... /usr/bin/which

checking for required openssl ... /usr/bin/openssl

checking for required curl ... /usr/bin/curl

checking for dig ... /usr/bin/dig

function dig found at /usr/bin/dig  - setting DNS_CHECK_FUNC to dig

checking for required dirname ... /usr/bi

[2021-01-26 08:50] canton7 opened #626 "Unexpected ACME server returned error: 403: "detail": "Order's status (\"valid\") is not acceptable for finalization""
**Describe the bug**

I'm afraid I don't have many details here -- I caught this in the log from an (attempted) automated renewal.

getssl version 2.30, renewing a domain using dns-01. I've replaced the domain with `<domain>` below:

[code]

(it's checking 1.1.1.1 because I have the configuration set up as described in #600)

**To Reproduce**

This isn't reproducible unfortunately -- I manually re

[2021-01-26 08:57] canton7 opened #627 "Renewal does not fail if "Attempt 100/100 gave wrong result""
**Describe the bug**

I was performing an automated renewal of a domain using dns-01, which failed because my DNS setup was wonky. getssl detected this, but did not fail the renewal, so the failure wasn't flagged to me.

Log below. `<domain>` and `<token>` are replaced by me.

[code]

(It's checking 1.1.1.1 because I have it configured as in #600).

**To Reproduce**

1. Configure a domain using dn

[2021-01-26 16:12] timkimber commented on #627
Hi Anton,

Thanks for reporting this, I suspect it's to do with the `--all` option not failing if one of the domains fails but a later domain succeeds.  I'll add tests to reproduce and fix.

[2021-01-26 16:14] timkimber commented on #626
Hi @canton7

Thanks for reporting this, I'll investigate - I think we just wait for the order status to be different to `Pending`, but the error implies we should wait for a different status.  I'll check the code of the LetsEncrypt server and see what we should wait for.

[2021-01-26 16:33] timkimber commented on #584
Hi @almorak

Thanks for this, I still don't know why it's happening but I have some guesses!

This debug line gives the unique thumbprint for your `account.key` file

This line says we're replying to the html-01 challenge with the token provided by the server and our account thumbprint:

This line says we've copied the temp file containing the token+thumbprint to the web server directory:

The err

[2021-01-26 17:55] canton7 commented on #627
Looking back, it's possible that I haven't set up the systemd unit to fail if the status is nonzero, sotthis might be on me. I'll check tomorrow.

[2021-01-26 19:15] canton7 commented on #627
Ah no, confirmed properly and the issue is correct.

[2021-01-27 03:33] almorak commented on #584
Hi  @timkimber,
I did delete the .getssl folder and retried the steps as it said: "for some reason could not reach.."
Yesterday, I try the admin user to run those steps in another folder but "for some reason could not reach.." still happened.
following is the files in acme-challenge

-rw-r--r-- 1 root  root  87 Jan 26 02:52 0bfBf7Ix7mMbrvdx1A7yDrzEsILBiwFuODtuu9GkHg4
-rw-r--r-- 1 root  root  87 Ja

[2021-01-27 09:25] almorak commented on #584
I also tried the https://github.com/acmesh-official/acme.sh , it also return
Verify error:The key authorization file from the server did not match this challenge

[2021-01-27 21:08] timkimber commented on #584
Hi @almorak

It's really strange, I don't know what's wrong although I think it's something with your configuration if acme.sh also fails with the same error.  I've added more debug to the version of `getssl` in the `debug-584` branch - if you can run this again and attach the debug log and hopefully it will help.

Thanks
Tim

[2021-01-28 03:50] almorak commented on #584
Hi @timkimber

<details>
<summary>the following log is the case without SKIP_HTTP_TOKEN_CHECK=true</summary>

<code>
detected os type = linux

Running Ubuntu 14.04.5 LTS \n \l

checking for required which ... /usr/bin/which

checking for required openssl ... /usr/bin/openssl

checking for required curl ... /usr/bin/curl

checking for dig ... /usr/bin/dig

function dig found at /usr/bin/dig  - sett

[2021-01-28 03:55] almorak commented on #584
<details>
<summary>
debug-584 log with SKIP_HTTP_TOKEN_CHECK=true :
</summary>

<code>
detected os type = linux

Running Ubuntu 14.04.5 LTS \n \l

checking for required which ... /usr/bin/which

checking for required openssl ... /usr/bin/openssl

checking for required curl ... /usr/bin/curl

checking for dig ... /usr/bin/dig

function dig found at /usr/bin/dig  - setting DNS_CHECK_FUNC to dig

che

[2021-01-28 09:22] almorak commented on #584
I find someting strange...
when i nano/cat the file, it displays :
Uk8KmOBt8gZsZ5c79lG930N8tKdIAZaeLtXwQwTbuok.MGzYMzr2amwYZMXveIabm--8pOc9Tq42qR5x27SgJts

But in the browser, it  displayes:
Uk8KmOBt8gZsZ5c79lG930N8tKdIAZaeLtXwQwTbuok.L9TmIxFp5o3mqug72753mqJXuF2J96wzPZyElgML0O0

[2021-01-28 10:14] almorak commented on #584
As my server is using vestacp (apache + Nginx)
I think the nginx block the access to the files without extensions
![nginx](https://user-images.githubusercontent.com/15829797/106122870-2c3a3b80-6194-11eb-95f2-855871be29f5.PNG)

I will search for that.
Thanks for your help.

[2021-01-28 10:47] timkimber commented on #584
Hi @almorak

I think I might have worked out the problem.  Vestacp supports LetsEncrypt without the need for `getssl` or `acme.sh` - you can use them or the built-in support.  The build-in support uses the configuration file `nginx.domain.com.conf_letsencrypt` and hardcodes a rule to add the thumbprint to the challenge response like this:
[code]

If you want to use `getssl` or `acme.sh` you need t

[2021-01-28 17:20] devops-school opened #629 "The system did not find the root certificate that corresponds to the supplied Certificate Authority"
Hi,
I am using Godaddy Shared hosting.

While generating a cert, I am getting following error... any help

`Error 1 -
getssl: cotocus.com - rsa certificate obtained but certificate on server is different from the new certificate

Error 2
$ ./cpanel_cert_upload cotocus.com
   - The certificate could not be installed on the domain “cotocus.com”.
    - Certificate verification failed! The system did

[2021-01-29 02:04] wolfaba opened #630 "Use -r option for dig to force default dig output"
If there is some dig configuration in $HOME/.digrc, which could affect the output of dig, you should ensure the expected dig output. Otherwise dig generates other output as expected. Exactly for this purpose there is -r option

[code]

E.g. I have options `+noall +answer +short` which generates only the value output, but getssl expects the whole record for DNS check.

[2021-01-29 14:39] timkimber commented on #629
Hi @devops-school

Error 1 is because `getssl` is checking the certificate before you manually install it, you can disable this check by adding:
[code]
to your `getssl.cfg` file.

Error 2 is probably because LetsEncrypt have changed their root certificate, although I'd expect GoDaddy to have updated their list of trusted CA's.  There's an enhancement, #594, which is to add the root certificate to

[2021-01-29 20:04] #630 closed

[2021-01-30 14:05] #626 closed

[2021-01-31 11:07] canton7 opened #633 "cat: /etc/acme/<domain>/tmp/curl.header: No such file or directory"
**Describe the bug**

Another one from the log files I'm afraid. No idea what might have caused it and it's not reproducible, so I'm happy if you want to close this off. Just mentioning in case you can get something useful from it.

From an automated renewal, `<domain>` and `<token>` obscured by me.

[code]

The renewal as a whole didn't fail either, but that's proabbly #627.

**To Reproduce**

[c

[2021-02-01 18:34] timkimber commented on #633
Hi @canton7

I've just looked at the code and the above error can only happen if `curl` succeeds, but fails to write the headers to the temp file.  Looking at the later curl "failed with 23" error that means:

Is it possible that your system ran out of disk space/quota in `/etc/acme` when the cronjob ran?

[2021-02-01 18:51] canton7 commented on #633
Thanks for responding! It's not possible that it ran out of disk space, but I'll happily accept that it's an oddity of my machine. It's not reproducible, so if you're happy that it's not an obvious issue with getssl, I'm happy to close.

[2021-02-01 21:29] timkimber commented on #633
Hi @canton7

From the later curl error code (23), I'm sure that it was a problem writing files on your machine, although without a more detailed error message and it not being reproducible, I don't think we'll know what the real issue was.

[2021-02-01 21:29] #633 closed

[2021-02-01 21:30] canton7 commented on #633
Cool! I'm happy with that, thanks for taking the time to look

[2021-02-02 09:33] almorak commented on #584
Fixed by changing  that domain nginx.conf to following:

location /.well-known/acme-challenge/ {
       default_type "text/plain";
       alias /home/admin/web/subdomain.domain.com/public_html/.well-known/acme-challenge/;
}

[2021-02-02 21:04] timkimber commented on #584
Hi @almorak,

Thanks for the update, it's good to know it's working now!

[2021-02-02 21:04] #584 closed

[2021-02-07 14:01] Benno-K opened #634 "getssl should allow to run without domain when upgrade is-requested"
When run with -u or --upgrade but without any domain specified, I feel the program should just do the update and exit.

Current behaviour is just to display the usage message without any meaningful hint, that you MUST specify a domain (which also implies that this domain is checked after update).

I have the code ready for that, however I am not too familiar with github, but I'll try my best to co

[2021-02-07 17:40] westhecool opened #636 "Script failed to run"
When I try to execute the script this happens: "getssl: this script requires one of: dig nslookup drill host"

I am running deb 10 on a Raspberry Pi 3 arm 64

[2021-02-08 19:19] killerbees19 commented on #636
Just install __one__ the missing packages? 🤔

* dnsutils
* bind9-host
* ldnsutils

Next time you could search binaries here: https://www.debian.org/distrib/packages

[2021-02-08 20:16] #636 closed

[2021-02-09 07:51] wurtel2 opened #637 "Update notification for v2.34 includes the entire script"
I got the update notification for v2.34 this morning:

`
Updated getssl from v2.33 to v2.34
these update notification can be turned off using the -Q option

Updates are;
 # 2021-01-05 Show error if running in POSIX mode (#611)
 # 2021-01-16 Fix double slash when using root directory with DAVS (ionos)
 # 2021-01-22 Add FTP_OPTIONS
 # 2021-01-27 Add the ability to set several reload commands (atisne

[2021-02-09 14:00] #637 closed

[2021-02-09 15:01] #634 closed

[2021-02-14 20:50] timkimber commented on #577
Hi @killerbees19

The code change I merged into master on Friday implements this enhancement.  Just need to specify PREFERRED_CHAIN/--preferred-chain

[2021-02-16 01:50] killerbees19 commented on #577
Great! Thanks :-)

I've not tested it yet, but I'll close this issue now.

[2021-02-16 01:50] #577 closed

[2021-02-17 18:32] bielius opened #642 "curl needs a variable definition"
If you got more then one "curl" installed, then it's necessary to define which "curl" should used by "getssl".
I specially have installed one curl in /usr/bin/curl (the old one) and another in /usr/local/bin/curl (the new one).

Running from the command line is no problem, because the PATH is set.
But running from crontab it's difficult to define the right curl to use.

Thanks
Bielius

[2021-02-18 17:40] timkimber commented on #642
Hi @bielius

I can make that change, but wouldn't it be easier to just specify the path in your crontab?

e.g.
[code]

[2021-02-19 19:18] bielius commented on #642
Hi @timkimber,

you are right this is a solution, but anyway I find it's more clean to have a variable def. inside the script.
Please close the case if you want. It's not an error, it's a nice-to-have ;-)

And thanks for the great script! I use it for 4 domains.

Greetings,
bielius

[2021-02-20 10:40] exxosuk opened #644 "www not working"
I am using UBUNTU14.04 as a test server.. It works and cert is valid, but it doesn't work for "www" urls.

From what I remember from cerbot, you had to get a cert for www.domain.com AND domain.com  so I think getssl isn't doing the www.domain.com

Do I have to do them separately ? I thought it was the SANS= variable which would let me do the www part, but it seems to create more problems... so is

[2021-02-20 11:11] mafalb commented on #644
Maybe you misspelled the variable. It's SANS (for Subject Alternative Names), not HANS

[2021-02-20 11:12] exxosuk commented on #644
ah sorry, that was a typo.

[2021-02-20 11:29] exxosuk commented on #644
Ive put in SANS="www.future-technologies.co.uk"

But it doesn't work at all then..

future-technologies.co.uk: ACL location not specified for domain www.future-technologies.co.uk in /root/.getssl/future-technologies.co.uk/getssl.cfg
getssl: future-technologies.co.uk: exiting due to config errors

[2021-02-20 11:31] exxosuk commented on #644
I put the ACP line in twice.. now it does this...

creating key - /root/.getssl/future-technologies.co.uk/future-technologies.co.uk.key
Generating RSA private key, 4096 bit long modulus
.......................................................................................................................................................++++
....................................................++++
e

[2021-02-20 11:32] exxosuk commented on #644
If I then reload apache2

/getssl future-technologies.co.uk
future-technologies.co.uk: remote cert expires sooner than local, attempting to upload from local
future-technologies.co.uk: certificate is valid for more than 30 days (until May 21 10:31:07 2021 GMT)

[2021-02-20 14:43] timkimber commented on #644
Hi @exxosuk

The log file states it's created the certificate for both `future-technologies.co.uk` and `www.future-technology.co.uk` and saved it into `/root/.getssl/future-technologies.co.uk/future-technologies.co.uk.crt`

But when I check your website, the certificate is only for `future-technologies.co.uk` which is why you're seeing the error message

Can you confirm that your apache config is

[2021-02-20 15:13] exxosuk commented on #644
These are the 2 config files.  The last things I did was the same as I posted above.. I've not changed anything else  (im not at home right now but can access files on the server)

[getssl.cfg.txt](https://github.com/srvrco/getssl/files/6015254/getssl.cfg.txt)
[getssl-future.cfg.txt](https://github.com/srvrco/getssl/files/6015255/getssl-future.cfg.txt)

[2021-02-20 16:11] timkimber commented on #644
Thanks for uploading those files, there's nothing wrong with them.

According to https://crt.sh/?q=future-technologies.co.uk there has been 8 certificates for your domain(s) issued in the last couple of days.  Your webserver is using the one with crt.sh ID 4104945708 which only contains a single identity.

I can only think of two reasons
1. Apache hasn't been restarted (for ubuntu16 I use `service

[2021-02-20 17:16] exxosuk commented on #644
Thanks for your input!

The server is about 3 years old and I have been using cerbot, but its not longer supported, so its why I was looking at getssl as a alternative..

I wonder if cerbot has put some files in apache hidden away somewhere which is overiding what I have in sites enabled folder ?... I did find some stuff I had in apache.conf , but ive taken all the bits out relating to that future

[2021-02-21 17:28] #594 closed

[2021-02-21 17:29] timkimber commented on #564
I've just merged in an enhancement that fixes this.  Setting `FULL_CHAIN_INCLUDE_ROOT="true"` will enable this behaviour

[2021-02-21 17:29] #564 closed

[2021-02-21 17:29] timkimber commented on #272
I've just merged in an enhancement that fixes this. Setting FULL_CHAIN_INCLUDE_ROOT="true" will enable this behaviour

[2021-02-21 17:32] timkimber commented on #642
Hi @bielius
I'm happy to make the change as it will simplify some of the code (around ensuring that the user agent is always specified), just wanted you to know there was a quick fix

[2021-02-21 20:58] exxosuk commented on #644
So getsll wise it needs

SANS="www.future-technologies.co.uk"

and then it needs the ACL line twice
ACL=('/var/www/html/FUTURE2014/.well-known/acme-challenge'
     ('/var/www/html/FUTURE2014/.well-known/acme-challenge')

So that was the problem with getssl..

As suggested (thanks!) my apache config files were still being loaded.. I had xxxxxxx-ssl.confXXX where I thought XXX would stop them from l

[2021-02-21 21:27] timkimber commented on #644
Hi @exxosuk

Glad to hear that you've managed to fix it!  Thanks for the feedback on the problems you had configuring `getssl`, I'll take a look at the default configuration files and make some changes to make it more obvious how to do a normal setup with _domain_ and _www.domain_

[2021-02-24 14:48] JialuZhang commented on #644
In <VirtualHost *:443>
[code]
This above setting might be a misconfiguration and adding it to your system will not change any system misbehavior. "RewriteEngine Off" is introduced to explicitly disable all "RewriteRule" by Apache.
So instead of commenting them all "RewriteRule" and all "RewriteCond", you can explicitly using “RewriteEngine Off” to disable all "RewriteRule".

So ideally, the config

[2021-02-26 18:42] bielius commented on #642
Hi @timkimber,

thanks for all!!!

[2021-02-28 09:14] seffparker commented on #564
The issue with Apache can be fixed either of the three ways:

1. With FULL_CHAIN_INCLUDE_ROOT="true" in getssl.cfg:
[code]
2. Without ROOT CA in fullchain, and separate CA-CERT file:
[code]
3. Without ROOT CA in fullchain, and combined  DOMAIN + CA-CERT file:
[code]

[2021-03-01 19:00] exxosuk opened #645 "use server hostname ?"
I think this should be possible anyway, but my linux sux.. but anyway..

if I type  "hostname -s"  I get like domain.co.uk

So can I , instead of  ./getssl -c domain.co.uk , can I do ./getssl -c hostname -s instead ?

I have tried all variations I can think of getting it to work, but it should be possible.. I think anyway ?

[2021-03-01 19:13] exxosuk commented on #645
ahh so

./getssl -c $(hostname-s)

thinks -s is a command..

But

./getssl -c $(hostname)

does actually work.

[2021-03-01 19:17] exxosuk commented on #645
This works as well, just seems a bit unnecessary

HOST=$(hostname -s)
./getssl -c $HOST

[2021-03-01 19:43] exxosuk commented on #645
ah nevermind , hostname -s doesn't report the full domain name, so had to use just hostname anyway :)

[2021-03-01 19:43] #645 closed

[2021-03-01 20:16] exxosuk opened #646 "Wildcard support ?"
Looking though the issues here, I cant work out if wildcard is supported or not ?

I mean I tried

./get ssl -c *.exxosserver.co.uk

Which created *.exxosserver.co.uk folders...

But then..

./getssl *.exxosserver.co.uk
*.exxosserver.co.uk: cannot use http-01 validation for wildcard domains
*.exxosserver.co.uk: cannot use http-01 validation for wildcard domains
getssl: *.exxosserver.co.uk: exiting

[2021-03-01 20:46] timkimber commented on #646
Hi @exxosuk

Yes wildcards are supported, although I've just noticed that I can't find the documentation I thought I'd written on how to use them, so I've added a task for me to do that.

So here's quick start guide

1. You need to use dns-01 authentication
2. Which means you don't need the `ACL=` line in `getssl.cfg`
3. You need to add `VALIDATE_VIA_DNS=true` to your `getssl.cfg` file
3. You also

[2021-03-01 21:39] timkimber commented on #646
Hi @exxosuk

Your domain is hosted with 123reg who use cpanel. I have some dns update scripts which I'll upload tomorrow. 

You need to replace /getssl in the DNS_ADD and DNS_DEL commands with the path to where you have installed getssl, maybe /root/getssl or /home/exxos/getssl? 

Tim

________________________________
From: exxosuk <notifications@github.com>
Sent: Monday, 1 March 2021 21:16
To: sr

[2021-03-01 21:43] exxosuk commented on #646
Thanks , I have no idea what these new scripts are all about :)   Mine is in /root/.getssl

![Capture](https://user-images.githubusercontent.com/22227683/109563007-17c0ca00-7ad7-11eb-9b25-8efd8bed4f22.PNG)

[2021-03-05 00:48] pping commented on #646
@exxosuk  https://github.com/srvrco/getssl/tree/master/dns_scripts

[2021-03-05 17:43] exxosuk commented on #646
oh they must not have come down with the installer package.. will give them a try when I get back home on Monday.

[2021-03-05 22:27] masgo opened #647 "XMPP / SRV compatible certificate check"
**Feature request**
Make `SERVER_TYPE="xmpp"` use the SRV DNS records to check against _the real XMPP server_, which might be != the certificate domain.
Or as a workaround: allow to specify the host which should be checked for the certificate.

**Background**
I am using `getssl` to generate a certificate for a private XMPP server hosted at home. The way XMPP works (in this scenario) is, that there

[2021-03-07 14:44] srvasn commented on #644
Got the same problem with nginx 1.18. www does not work, although I can see both my domain abc.xyz and www.abc.xyz in the subject alternative name.

[2021-03-08 09:19] exxosuk commented on #646
Didn't have much luck copying the scripts over either :(

root@exxosserver:~# ./getssl exxosserver.co.uk
exxosserver.co.uk: no certificate obtained from host
Registering account
Verify each domain
Verifying exxosserver.co.uk
./getssl: line 1242: /root/.getssl/dns_scripts/dns_add_dynu: Permission denied
getssl: DNS_ADD_COMMAND failed for domain exxosserver.co.uk
root@exxosserver:~#

[2021-03-08 21:51] timkimber commented on #646
Hi @exxosuk

I think you need to use the `dns_add_cpanel` / `dns_del_cpanel` scripts which I haven't finished writing yet (started a new job today), I'll try and find time to write up some instructions tomorrow

[2021-03-08 21:53] timkimber commented on #644
Hi @srvasn

If you can see the domains in the subject alternative name then it's a configuration issue with nginx, can you post your nginx config and I'll try and see where the problem is.

Thanks

[2021-03-08 21:54] timkimber commented on #647
Hi @masgo

This seems like a good enhancement, I'll add it to my list of things to do (happy to review a PR if  you feel up to coding the change)

[2021-03-08 22:54] exxosuk commented on #646
Awesome :)  Probably won't get chance this week to mess anyway, much going on, but hopefully I can continue setting up my server next week then :)

[2021-03-09 07:14] srvasn commented on #644
Hi @timkimber , can confirm that the issue was occurring due to my deployment scripts not replacing the old certificates with the freshly generated certificates from getssl. It's resolved now.

[2021-03-09 07:55] masgo commented on #647
My bash skills are rather limited.

The easyest way would probably be to provide an additonoal variable like `CHECK_REMOTE_HOSTNAME` where one could manually specify the host to check against. This would probably also be useful for mail servers, and others where SRV records are used. This would also deal with the situation where the SRV record points to multiple hosts with different priorities. In

[2021-03-09 21:49] timkimber commented on #644
Hi @srvasn
Thanks for the update!

[2021-03-09 21:49] #644 closed

[2021-03-10 21:01] timkimber commented on #647
Thanks @masgo, that's some great requirements.  I'll look at implementing it soonish

[2021-03-14 11:08] abe2064 opened #649 "dns lookup failed on a raspberry"
i try to get a ssl certificate to my website host on a raspberry pi modele 2 B
i think i've managed to configure the getssl.cfg but when a try to ./getssl mywebsite.com i get the following:

mywebsite.com: DNS lookup failed for www.mywebsite.com

i tried to register to another dyndns service but the result was the same.

i certainely do something wrong but i can't tell what.

thank's for the help

[2021-03-14 19:47] timkimber commented on #646
@exxosuk I've pushed the change with the dns_add_cpanel and updated the main overview page with details of specifying a wildcard certificate.  I'll add a quickstart guide with better instructions sometime next week.

[2021-03-14 19:53] timkimber commented on #649
Hi @abe2064,

There are two options; either you haven't configured the domain name with your hosting provider or your raspberry pi isn't setup correctly to allow dns queries.

To check the first, go to https://mxtoolbox.com/DNSLookup.aspx and check that your domain name returns something like this result: https://mxtoolbox.com/SuperTool.aspx?action=a:getssl.test&run=toolpage

To check the second o

[2021-03-14 21:07] abe2064 commented on #649
i tried nslookup and the answer is: -bash: nslookup : command not found
so maybe as you says my raspberry isn't set properly

[2021-03-14 21:08] contentfree opened #650 "Install fails ironically due to inability to validate SSL certificate"
**Describe the bug**
Following the install instructions fails:

[code]

Therefore, `getssl` is a zero-byte file.

**Expected behavior**
I expected getssl to be installed

**Operating system (please complete the following information):**
Amazon Linux 2
GNU bash, version 5.0.3(1)-release (x86_64-pc-linux-gnu)

[2021-03-14 22:11] exxosuk commented on #646
Awesome, will go have a look :)

[2021-03-14 22:18] exxosuk commented on #646
I'm not sure I really follow how this is supposed to work.. Is this CPANEL as in like the control panel which normal webhosts used ? As such, as I run my own Ubuntu server, its command line only, and the DNS server is with reg123.co.uk  Where I just load in there what IP my server is at and the domain name.

Currently my test server is a fresh install of UBNTU20, with Apache2, PHP7 etc etc,

`VALI

[2021-03-15 13:07] timkimber commented on #650
Hi @contentfree

I've just spun up an ec2 image running Amazon Linux 2 (I just ran the wizard which launched `amzn2-ami-hvm-2.0.20210303.0-x86_64-gp2`) and don't have any error message when running the same command.

The instance is using bash 4.2, but I don't think that's relevant.  What's important is that the `/etc/ssl/certs/ca-bundle.crt` file exists - it's installed by the `ca-certificates` p

[2021-03-15 20:28] timkimber commented on #649
Hi @abe2064,

`getssl` tries using `nslookup`, `dig`, `drill` and `host` to find the domain name - although the first three are the best tested.

You can install `nslookup` and `dig` using:
[code]

You can install `drill` using:
[code]

Let us know if you have any more problems

[2021-03-15 21:23] timkimber commented on #646
Hi @exxosuk

I've just *very quickly* written the following guide: https://github.com/srvrco/getssl/wiki/Guide-to-getting-a-certificate-for-example.com-and-www.example.com

Can you see if that helps?

Thanks

[2021-03-15 21:48] exxosuk commented on #646
I think you have lost me totally :(

When it says

To do this you need to tell getssl how to add and remove dns records for your domain

I don't see how a script running on my server can change DNS records as they are all done via reg123 which is outside the scope of my server (totally different companies) . I would imagine it would be a huge security flaw if reg123 allowed remove changing of DNS

[2021-03-16 15:18] sidrew commented on #308
This one is still an issue...

[2021-03-16 16:22] timkimber commented on #646
Hi @exxosuk

You must be able to prove to Let's Encrypt that you control either the webserver or the DNS for your domain.  For wildcard certificates, which could be for any webserver, you must prove that you control the DNS.

I've just re-read your comment from 2 days ago:

Which I didn't read properly earlier.  123-reg don't provide any API or method to programmatically update the DNS records unl

[2021-03-16 16:33] exxosuk commented on #646
ah ok thanks. I will probably just use yours and just not bother with subdomains, rather than starting again with another script. Yours was the only one I could get working anyway as I tried others before.  If I had enough time to invest, I would look at another script, but just so much stuff I need to get done at the moment, I just don't have time to start over.  But thanks for your support thusf

[2021-03-26 09:34] sideeffect42 commented on #308
Does #654 help?

[2021-03-29 20:07] #629 closed

[2021-03-29 20:13] timkimber commented on #538
Wildcard certificates are now supported

[2021-03-29 20:13] #538 closed

[2021-03-29 20:13] #514 closed

[2021-03-29 20:15] timkimber commented on #529
I looked into this and it's not easy for me to write the instructions for a Juniper SRX device without spending a lot of time researching and learning how to configure a Juniper device, and setting up an emulator or equivalent to test any instructions - sorry but I just don't have the time to do this.

[2021-03-29 20:15] #529 closed

[2021-03-29 20:17] #438 closed

[2021-03-29 20:17] timkimber commented on #400
Wildcard certificates are now supported

[2021-03-29 20:17] #400 closed

[2021-03-29 20:21] timkimber commented on #368
Closing as we have tests on bash4 onwards

[2021-03-29 20:21] #368 closed

[2021-03-29 20:22] timkimber commented on #341
This has been added as --install

[2021-03-29 20:22] #341 closed

[2021-03-29 20:24] #307 closed

[2021-03-29 20:24] timkimber commented on #297
This functionality has been added with the `--install` option

[2021-03-29 20:24] #297 closed

[2021-03-29 20:28] #278 closed

[2021-03-29 20:29] #258 closed

[2021-03-29 20:31] timkimber commented on #236
Adding:
[code]

in `getssl.cfg` will enable passive mode

[2021-03-29 20:31] #236 closed

[2021-03-29 20:37] timkimber commented on #225
Just tested and I get the following if I leave a space between "ACL=" and "('/home/domain/.well-known/acme-challenge')"
[code]

[2021-03-29 20:37] #225 closed

[2021-03-30 13:36] HerroBert commented on #646
Somewhere I saw a modus with an "immortal verificytion token" for dns. So put this string into dns forever and just call renew process.

[2021-04-01 15:31] roman-lautenschlager commented on #649
I have a similar issue on Raspberry PI 4

Could problem be with dig command?

The way getssl calls it:
[code]

The way I call it to check:
[code]

So the record it there, but loop is trying to find it in a wrong place?

Any way how to force getssl to use different check method?

[2021-04-01 20:17] timkimber commented on #649
Hi @roman-lautenschlager

`getssl` should already be using the same `dig` call as you're using to check

Line 1249 of the latest version prefixes "_acme-challenge." to mydomain and this is then passed as the `rr` parameter to the `check_challenge_completion_dns()` function which calls `dig TXT $rr`

Good to hear the AUTH_DNS_SERVER/PUBLIC_DNS_SERVER helped - I wonder if the local dns cache wasn't

[2021-04-14 14:24] webservicebe opened #656 "IDN-domains in punny-coding failes dig/nslookup"
OS: debian 10

When using xn-- as domain dig gives an error (it doesn't in terminal)
Solved it by adding +noidnout in the query.

./getssl xn--cafe-r5a.be, gives output:

detected os type = linux
 Running Debian GNU/Linux 10 \n \l
checking for required which ... /usr/bin/which
checking for required openssl ... /usr/bin/openssl
checking for required curl ... /usr/bin/curl
checking for dig ... /usr/

[2021-04-27 09:36] timkimber commented on #656
Hi @webservicebe

Apologies for taking so long to reply to this issue.

I've tried to reproduce, but can't get the same error message.  For example on a debian docker container I get:
[code]

I don't want to add `+noidnout` to the default nslookup calls as it's not a valid parameter for some systems (e.g. alpine)

Can you run `locale` and post the output here, e.g. on the same debian container I g

[2021-04-28 13:24] ouamboh opened #657 "Unable to get a .crt certificate file"
Hello,

I am using getssl to get a certificate for myy site.
No matter what I do , i am not able to get a .crt file .  What am i doing wrong here ?

I am getting this in the log

......
Using API v2

getting certificate for ehr-crm.com from remote server (ehr-crm.com)
ehr-crm.com: no certificate obtained from host
creating account key /home/oracle/.getssl/account.key
creating key - /home/oracle/.g

[2021-04-28 16:50] timkimber commented on #657
Hi @ouamboh

I've replied to your thread on the LetsEncrypt community forums (https://community.letsencrypt.org/t/no-certificate-file-is-being-generated/150637)

Quick summary to anyone interested, it looks like the ip4 address is pointing to Oracle Cloud (which has the challenge token), but the ip6 address is pointing to Hostinger (which doesn't have the challenge token), and LetsEncrypt is using

[2021-04-28 22:22] ouamboh commented on #657
Thx timkimber. working on applying fix. will revert back when done

[2021-05-04 10:57] marcoczen opened #658 "Does getssl work with zerossl ?"
Guys,

Does getssl ( dns challenge ) work with zerossl  ( https://zerossl.com/ ) ?

[2021-05-04 15:19] marcoczen opened #659 "Adding cert to multiple servers - Shameless request for that script"
Guys,

At https://github.com/srvrco/getssl/wiki/Adding-cert-to-multiple-servers , there is a hint of a script as follows;

    loop over all servers

      - copy certificates to server x
      - restart services on server x
      - pause a couple of seconds
      - check cert is correctly installed on server x

    end of loop

Anybody here  have something that works.
Note - I have done some bash

[2021-05-04 20:36] timkimber commented on #658
Unfortunately not, adding support for other ACME providers is on my list of enhancements but I've not had the time recently to make any changes.

[2021-05-04 20:58] timkimber commented on #659
Hi @marcoczen

That wiki page is not up to date, almost all of that functionality is now built in.  The only piece missing is the last step, checking that the certificate is installed on all servers.

If you specify multiple locations for the certificate in DOMAIN_CERT_LOCATION / DOMAIN_KEY_LOCATION / CA_CERT_LOCATION / DOMAIN_CHAIN_LOCATION / DOMAIN_PEM_LOCATION (separated by semi-colons) and mul

[2021-05-05 03:04] marcoczen commented on #658
Thank you ...
Great piece of software ...

[2021-05-05 03:04] #658 closed

[2021-05-06 11:13] killerbees19 commented on #658
Funny, because this project is listed as **Trusted Partner** with status **Live**. 🙃

https://zerossl.com/features/acme/

[2021-05-06 11:56] timkimber commented on #658
Guess I'd better add support sooner rather than later! 🙃

[2021-05-06 14:53] marcoczen commented on #659
Hi  ... thanks ....

[2021-05-06 14:53] #659 closed

[2021-05-12 21:08] timkimber commented on #317
I agree that adding support for `wget` will complicate the code, but not everyone has the luxury of being able to install tools on their servers - I use cpanel hosting and although I can get shell access and run scripts, I can't install anything.

[2021-05-16 19:55] ProjectMindful opened #661 "Cloudflare Script - Irish domains not supported"
**Description**
Potential bug spotted whilst trying to create a pre-prod certificate for an Irish domain - returns that "no such domain can be found on your Cloudflare account.

- Confirm that the domain is accessible directly using the CF API using *.ie zone; there are 10 on the account.
- added an "echo" line to print all returned domains for at the root level; no Irish domains are returned.

**

[2021-05-18 08:51] timkimber commented on #661
Thanks for reporting this - I'll see if I can reproduce

[2021-06-04 16:15] sarmachilukuri opened #664 "getssl gives awk: syntax error near line 1"
./getssl -c "*.aaa.aaaaa.gov"
awk: can't open $1 == "VERSION=" {print $2}
awk: syntax error near line 1
awk: bailing out near line 1
creating main config file /export/home/aaa/.getssl/getssl.cfg

[2021-06-08 21:30] timkimber commented on #664
Hi @sarmachilukuri

I can't reproduce this error.  Could you please tell me:

1. What operating system and version you're running, e.g. Centos6
2.The output of running `awk -W version`

e.g on my test setup I get:
[code]

_Apologies for the delay in replying to this issue, I've been away on holiday._

[2021-06-13 09:32] davidc opened #666 "Make -d flag available to scripts"
**Is your feature request related to a problem? Please describe.**
Scripts (dns update and reload) running under getssl should be able to determine whether getssl is running in debug mode (-d) in order to produce more verbose output.

**Describe the solution you'd like**
Export _USE_DEBUG (or a new variable without the underscore prefix such as GETSSL_DEBUG).

**Describe alternatives you've consid

[2021-06-21 09:46] gkaf89 opened #667 "Failing to update certificates for CNAME records"
I maintain a Debian/Apache server. Since version 2.36, when trying to update the certificates for 2 CNAME records in my server I get an error message
[code]
where `<domain>` stands for each of my 2 domains.

Are there any known issues?

[2021-06-21 10:46] timkimber commented on #667
Hi @gkaf89

That error means that the LetsEncrypt server failed to look up your domain in DNS.  It's usually a transient problem, but if the error continues then there were some links showing how to check when a similar problem was raised on the LetsEncrypt forum (see https://community.letsencrypt.org/t/servfail-responses-from-win-tld-nameservers/151209/5)

If you are running your own DNS server a

[2021-06-21 11:20] gkaf89 commented on #667
Hi @timkimber

Thank you for you response! I do hope it is a transient problem. In case you would like to look into the issue, the domain name for a test page is: home.serres-west-wing.ovh

The DNS servers for the domain are provided and managed by OVH.

[2021-06-22 15:08] webservicebe commented on #656
Tim,
I found a solution (though not perfect yet)
Inserted on line 675 ( after # check domain exists using all DNS utilities....)
      # add idn-notrace if idn-domain
      if [[ ${d} =~ ^xn--.* ]]; then
        DNS_CHECK_OPTIONS="$DNS_CHECK_OPTIONS +noidnout";
      fi

Only problem is that it DNS_CHECK_OPTIONS should be set to the original when checking the next domain (if you use -a)

[2021-06-23 22:03] davidc opened #669 "Request new certificate if SANs have changed"
**Is your feature request related to a problem? Please describe.**
Adding a SAN to a certificate does not cause getssl to request a new certificate with that SAN added until the next renewal cycle.

**Describe the solution you'd like**
getssl should compare the requested SANs with the SANs on current certificate. If any have been added, it should request a new certificate.

**Describe alternatives

[2021-06-25 13:37] benlonsdale opened #670 "Error running on AWS Elastic Beanstalk -"
Running getssl on AWS Elastic Beanstalk

Receiving the following error in the logs:

[code]

Do I need to manually create that `tmp/` directory for each domain?

[2021-06-27 09:34] HerroBert opened #671 "Some preparing command needed"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
I need a config option similar to RELOAD_CMD lets say PREPARE_CMD, which is running before certifiaction request

**Describe alternatives you've considered**
-

**Additional context**
Because I use getssl to install certificates for Postfix, I have to start a webserver before getssl is obtai

[2021-06-29 09:28] #669 closed

[2021-06-29 09:29] timkimber commented on #669
Hi @davidc

This has been on the todo list for a while, so I fixed it.

I've just merged the change into main branch

[2021-06-29 09:30] timkimber commented on #671
Hi @HerroBert

Sounds like a good idea, I'm sure I can use it to simplify some of the test setup too.  I'll take a look when I get a chance

[2021-07-01 11:38] gkaf89 commented on #667
The cause of the issue was the deactivation of DNSSEC for the domain. LetsEncrypt requires DNSSEC, and there are good reasons for such a requirement (e.g. https://security.stackexchange.com/questions/196386/is-it-critical-to-enable-dnssec-if-i-am-using-tls-ssl-certificate-on-a-website).

[2021-07-01 11:38] #667 closed

[2021-07-01 14:00] timkimber commented on #667
Thanks for the update!

[2021-07-01 14:26] timkimber commented on #670
Hi @benlonsdale

As usual, apologies for the delay in replying.

Looking at the code, going back a few revisions I think the error occurred at the following section of code:
[code]

But it makes no sense that the code on link 2946 failed, but the code on 2940 worked - both are writing to a file in the `TEMP_DIR` so it's not missing, but only the second occurrence causes an error.

Can you run agai

[2021-07-01 14:29] timkimber commented on #666
Hi @davidc

Thanks for this suggestion, I'll have a look at some bash style guides and see whether exporting _USE_DEBUG or adding GETSSL_DEBUG is best practice

[2021-07-01 14:40] davidc commented on #669
Thanks very much, I’ve not had a chance to test it yet but my immediate thought is: are the sans guaranteed to be in the certificate in the same order they were requested? Or is it worth adding a sort to both before comparing?

[2021-07-05 10:19] respencer commented on #380
We ran into this issue last night too. slapd failed to restart as the permissions on the key file were wrong. The correct permissions for slapd in our case are ownership root:ssl-cert and umask 0640.

What is needed in order for the issue to be resolved?

[2021-07-06 15:29] respencer commented on #669
@davidc The answer is to that question is no. The server I'm running getssl on updates its cert daily as a result.

I checked the debug output and not only is the order different, but the strings that are being compared can never match if I'm reading the code right.

`
      if [[ "subjectAltName=$existing_sanlist" != "$SANLIST" ]]; then
        info "Domain list in existing certificate ($existing

[2021-07-06 15:37] davidc commented on #669
So the subjectAltName= prefix is being taken care of in the comparison, but
the ordering and spaces are a problem!

--
Sent from my mobile device - please excuse brevity and typos

[2021-07-06 15:46] respencer commented on #669
Ah, yes. Good point. I didn't notice that, it's missing in the debug text and as a result makes the difference look even bigger. So yes, it's just the order and the spacing.

It's simple enough to remove the spaces before comparing. Getting the order right is more work.

[2021-07-06 16:00] davidc commented on #669
Sounds like this is now causing every certificate with >1 SAN to be renewed on every cron run so may need an urgent fix... I'm not able to reopen the issue though. @timkimber

[2021-07-06 16:14] respencer opened #673 "Request new certificate if SANs have changed not sorted"
**Describe the bug**
The commit for issue #669: "Request new certificate if SANs have changed" doesn't sort the domain names, and does a simple string compare that assume the names are in the same order. It also doesn't account for spaces. The server as a result updates it's cert daily, eventually resulting in an error message from the acme server due to many requests.

**To Reproduce**
I'm runnin

[2021-07-07 12:17] lenneis commented on #673
Sorting is not the only problem, I get this message:

`Domain list in existing certificate (DNS:example.at, DNS:www.example.at) does not match domains requested (subjectAltName=DNS:example.at,DNS:www.example.at), so recreating certificate`

Note the blank after the comma in the first list in parenthesis. That trips up the comparison for me. The same would happen in your case, even if the entries w

[2021-07-07 13:13] timkimber commented on #673
Thanks for reporting this, I did update test 7 to try and avoid this scenario.  I'll fix asap.

[2021-07-07 13:14] timkimber commented on #669
Thanks for reporting this, I did update test 7 to try and avoid this scenario but it obviously isn't testing the right thing.  I'll fix asap.

[2021-07-08 08:51] #673 closed

[2021-07-08 16:11] marcoarruda commented on #284
Still having the same issue, 07/2021

I'm trying on a server where I had **example.com** and **www.example.com**, both expired

[2021-07-13 22:52] TmCrafz opened #677 ""Error Loading request extension section SAN" when creating new certificate"
**Describe the bug**
When I try to create a new certificate for a domain I get the error "Error Loading request extension section SAN" and the created csr file is empty.
Renewing already existing certificates is working fine.
Output of `getssl mydomain.de`:
[code]

My global config:
[code]

Domain config:
[code]

**To Reproduce**
1. Create a new Domain with ```getssl -c mydomain.de```
2. Add `www.

[2021-07-14 08:53] timkimber commented on #677
Hi @TmCrafz

I've not seen that error before, and it doesn't show up in any of the automated tests.  From doing a quick websearch the only related example I can find is https://github.com/dehydrated-io/dehydrated/issues/281 where the problem was that the domain had a comma instead of a dot - is it possible that you have accidentally done the same?

[2021-07-14 09:01] timkimber commented on #284
Hi @marcoarruda

Could you please tell me what command line you are using to get this error?  If you are doing:
[code]

That's not how `getssl` is designed to work,`www.example.com` should be in the SANS list in `getssl.cfg` and it should be called with `getssl example.com`

[2021-07-14 19:37] TmCrafz commented on #677
Hi @timkimber
I checked it and the Domain is using a dot everywhere

[2021-07-16 11:36] marco-websource commented on #656
I just ran into the same/similar problem on Debian 10.10. The locale on that system is en_US.UTF-8.

To work around the problem I also had to add the option `+noidnout` to my dns-01-challenge.sh script and to `check_challenge_completion_dns()` in the getssl script, line 541:

`check_result=$($DNS_CHECK_FUNC +noidnout TXT "${rr}" "@${ns}" \`

[2021-07-18 14:06] timkimber commented on #656
@marco-websource thanks for adding that detail, setting the locale allowed me to reproduce, create tests, and fix
@webservicebe thanks for the proposed solution.  I didn't worry about resetting DNS_CHECK_OPTION for subsequent domains as it does not alter the behaviour of dig/drill for non-idn domains.

[2021-07-20 10:21] #656 closed

[2021-07-20 14:53] timkimber commented on #650
Closing - I assume that installing the `ca-certificates` package fixed the problem

[2021-07-20 14:53] #650 closed

[2021-07-21 09:19] timkimber commented on #308
I'm moving the staging server tests to use `acme-dns` and have managed to reproduce this issue and will fix.

[2021-07-21 14:37] sidrew commented on #308
Excellent... we've stuck with v2.27 as a result of this bug.  Glad to see it getting some love.v

[2021-07-22 03:27] andy-igoshin opened #682 "host: couldn't get address for '+noidnout': not found"
getssl: domain.com - rsa certificate obtained but certificate on server is different from the new certificate
host: couldn't get address for '+noidnout': not found
Usage:
   nslookup [-opt ...]             # interactive mode using default server
   nslookup [-opt ...] - server    # interactive mode using 'server'
   nslookup [-opt ...] host        # just look up 'host' using default server
   nslo

[2021-07-22 09:33] timkimber commented on #682
@andy-igoshin

Thanks for reporting this - obviously a code path not tested in the automated tests.  I'll reproduce and fix asap!

[2021-07-22 09:55] brzezins opened #683 "Tokens in acme-challenge dir are created with root permissions"
OS: Ubuntu Server 20.4
WWW server:  Apache 2.4.41
getssl version: 2.37

The problem is that getssl creates tokens with permisions:

`-rw-r--r-- 1 root     root       87 Jul 22 09:40 YVsmmUX-rqwSRLZtkFDGj2OwAMkUfTTjyhHkqfI4nYc`

So it cannot be read via HTTP and I'm getting an error while trying to renew certificate:

`Verify error:    "detail": "Invalid response from http://my-domain.com/.well-kno

[2021-07-22 10:03] webservicebe commented on #682
I had the same problem, it' because SANS-domains insert an extra +noidnout.
Fixed it with the following patch, this also excludes host/nslookup-test if dig already found the ip:
538c538
<     if [[ ("${d}" == xn--* || "${d}" == *".xn--"*) && ! $DNS_CHECK_OPTIONS =~ "noidnout" ]]; then
---

697c697
<       if [[ ("${d}" == xn--* || "${d}" == *".xn--"*) && ! $DNS_CHECK_OPTIONS =~ "noidnout" ]]; then

[2021-07-22 21:33] timkimber commented on #682
Fix made in the `fix-host-idn-bug` branch, just creating a PR now

[2021-07-24 12:42] #682 closed

[2021-07-25 10:54] tlhackque commented on #683
The best approach is to add `setgid` to the `.acme-challenge` directory.   This will copy the directory's group to the group of files created in it. `httpd` will then access the files via **group** permissions.

It's is often useful to do this for all the www **directories**.  (Do **not** add `setgid` to files, especially executables, as it has a very different meaning.)

`chmod g+s yourwell-known

[2021-07-25 11:02] tlhackque commented on #597
Not sure this is a good idea, especially on the fly.  It creates a directory in the webserver tree; a typo in the ACL might be problematic.  In addition, there's the matter of getting the right ownership/permissions.  There's no point in creating the directory if its permissions - and those of created files aren't correct.  This is non-trivial when you consider different webservers, distributions,

[2021-07-25 13:28] tlhackque opened #686 "copy_file_to_location failures with ssh when suffix applied to file lacking an extension"
When a suffix is applied to a filename lacking an extension,
a '.' in the host name is treated as the extension, and
the extension is inserted there instead of being appended
to the filename. If no hostname is present, a spurrious trailing
'.' is appended.

See Pull request #685

[2021-07-25 13:45] tlhackque commented on #683
On looking at the code, it also seems that "recent" versions of `getssl` support a brute force approach.

Add

`TOKEN_USER_ID="www-data:www-data"`

to your configuration file for this domain.

While it seems to be supported, it's not as robust as the other solutions that I noted.

[2021-07-26 15:13] ProjectMindful commented on #661
Hi @timkimber,

Did you manage to reproduce the issue?

[2021-07-27 15:15] tlhackque opened #687 "ftpes:// is insecure"
The `ftpes://` protocol uses FTP over TLS, which promises security.

The implementation - presumably to deal with self-signed certificates - uses `--insecure` with `curl`.  This disables server verification, breaking the promise.

A secure version of FTP over TLS is missing.  Since this is a security issue, I'm classifying it as a bug, not an enhancment.

A pull request provides the fix.

[2021-07-27 21:23] timkimber commented on #687
Hi @tlhackque

Thanks for this.  I've updated the comments: `ftpes` is **more** secure than `ftps` because it connects via explicit TLS instead of implicit TLS.   `ftps` connections use port 990 by default, `ftpes` connections use port 21 and explicitly enable encryption before sending username and password.

I think the reason the previous change (by @CoolMischa) used `--insecure` by default is t

[2021-07-27 23:00] tlhackque commented on #687
I used an unfortunate new name for the secure version.  The intent was to provide a version of `ftpes` without `--insecure`.  My change still uses `--ftp-ssl` and does not provide the port.  I'm OK with adding ftps: as well.  I'm sure someone out there will use it.

Note that this cURL option falls back to non-ssl; it would be better for the secure version(s) to use `--ssl-reqd` (or the deprecated

[2021-07-27 23:10] tlhackque commented on #687
I've accepted your suggestions and added `--ftp-ssl-reqd` (maximum compatiblity with cURL version).

[2021-07-28 05:33] ddalben commented on #268
Why was this closed?  There still isn't a decent logging feature for getssl when running off cron.

`2>&1 >> /tmp/getssl.log`
doesn't give you any timestamps which is useful if you're running getssl every night.

If the redirect is the only option then it might be handy to have it in the instructions.

[2021-07-28 09:27] tlhackque commented on #687
Updated .-2 with some additional information on how to handle root CAs (and self-signed) certificates to avoid `--insecure`.

While `--insecure` can seem to be convenient, its use has always been dangerous.  As TLS has become more pervasive, so have attacks (such as DNS cache poisoning) on TLS websites.  Using `--insecure`  is thus increasinly dangerous.

There is another instance of `--insecure`

[2021-07-28 20:34] #686 closed

[2021-07-28 20:34] #687 closed

[2021-07-28 20:36] #649 closed

[2021-07-28 21:11] timkimber commented on #268
Hi @ddalben,

I closed it as it had been open since 2017, the original requester doesn't appear to be active on github anymore, and there were several suggested solutions; `logger getssl`, `getssl | logger`, and redirecting to a logfile `/root/bin/getssl -u f.q.d.n -w /etc/le >> /tmp/test 2>&1` (which is what I use and tested)

It should be an easy change but there are a number of error conditions

[2021-07-29 05:38] ddalben commented on #268
Hi @timkimber ,

Thanks.  Apologies if I came across ungrateful. twasn't the intent.  I used the 2>&1 >> /tmp/getssl.log option and it gave me the logging, though without any time stamps.  Luckily caught an upgrade that happened which was handy.

I do think more robust logging to either syslog or a logfile of choice would be ideal, but the redirection is a decent stopgap.

[2021-07-29 06:50] nu-lda opened #688 "IDN support"
Hello!

I am using getssl v2.38 on Ubuntu 18.04 (GNU bash, version 4.4.20(1)-release (x86_64-pc-linux-gnu)).

There are a couple of domains in IDN format (`*xn--*`) that are also handled by getssl.
Every time a job runs to update the certificates the following error is displayed (even when run in quiet mode):
[code]

This output probably comes directly from the "dig" tool on the server.
On Ubuntu

[2021-07-29 08:31] timkimber commented on #688
Hi Leon,

Sorry about that, it must be an unexpected side effect of the support for IDN domains released in 2.37/2.38.  I'll reproduce and fix.

[2021-07-29 14:28] Djuns35 opened #689 "Certificate obtained but not installed on the server"
Hello,

So I have an Nginx server and when i'have created the SSL certificate i have this issue :

getssl: www.xxx.xxx.fr - rsa certificate obtained but not installed on the server

![2021-07-29_16h20_56](https://user-images.githubusercontent.com/73012957/127510177-2c8af0f2-e828-47a2-9d85-4d3455c1bf14.png)

Can you help me ?

Many thank's

[2021-07-29 21:12] timkimber commented on #689
Hi @Djuns35

This is probably because your `nginx` server has cached the old certificate.  You can either
1. Not check that it's been installed correctly
2. Tell the `nginx` server to reload the certificate

To do (1) you need to add the following line to your `getssl.cfg` file
[code]

To do (2) you need to add _something_ like the following to your `getssl.cfg` file (depends on which linux you're

[2021-07-29 21:13] timkimber commented on #661
Hi @ProjectMindful

Not had a chance yet, it's next on the list of things to investigate so hopefully I can have a look soon.

[2021-07-30 09:34] tlhackque opened #690 "Prefer API V2 when a CA directory offers both"
When working on Apache `httpd`'s `mod_md` last year, I ran into a CA (name escapes me at the moment) that offers API V1 and V2 in the same directory.   (At the same URL.)  Since API V1 is deprecated/obsolete, `getssl` should choose V2 in this case.

Looks like a trivial change - I'll push a patch to my repo, but it could use a test.

[2021-07-30 12:09] tlhackque opened #692 "Make tests easier to debug"
As noted in #685, it's difficult to debug intermittent test failures.

Running tests in debug mode would capture the faults.

I've written a patch to do this.

[2021-07-30 13:15] timkimber commented on #692
Hi @tlhackque

Thanks for doing this, I was reading your comments in #685 and I think it's a great idea.

I was thinking of implementing by changing the `debug()` function to always output to a file in `BATS_RUN_TMPDIR` (which is cleaned up when the tests finish) and adding code to the `teardown()` function in each test to print the debug file if the test failed.

I'll take a look at your PR as if

[2021-07-30 13:21] tlhackque commented on #692
It almost works.  The debug output is formatted, captured, and output on failures.   But - the tests fail.

I could use some help with the test system, which doesn't like the extra outpuit.  See comments in #691.

[2021-07-31 19:22] tlhackque opened #693 "http-01 files left behind with ftpes, ftps, ..."
Code reading bug.

While debugging something else, I noticed that `fulfill_challenges` only knows how to remove tokens with (regular) FTP and SSH.

But `copy_file_to_location` also knows how to place tokens with SFTP, DAVS, FTPES, and SFTP.

`fulfill_challenges` will try to remove such tokens as local files (hopefully and usually failing), thus leaving them behind in `.well-known/acme-challenge`.

[2021-08-04 08:49] tlhackque commented on #692
This is now working in #691.  It turned out that the test framework had most of the capabilities.

There are a few opportunities to make further improvements - but they shouldn't block a merge.

Sorry it took a while - debugging in the CI environment is painful, as is digging into BATS.

[2021-08-05 03:10] oakapplenet commented on #597
Thanks for the thoughts.   I can see the potential problems of doing too
much automatically.    getssl might check for the existence of the necessary
directories and guide users to a setup script.

[2021-08-05 13:02] tlhackque opened #694 "Make upgrade checks and installations faster/cheaper/better"
The current upgrade checks are slow, and only upgrade `getssl` proper, (not the  `dns_scripts` or `other_scripts` directories).  In addition, they check against and fetch `master/HEAD` - which may not have passed the CI checks.

The checks are slow because they fetch `getssl` from the code repository, then parse the code to find the version.

A better approach would be for the release process to p

[2021-08-09 21:14] timkimber commented on #694
@tlhackque thanks for these notes, the update process is definitely something that could be improved.

Alternative to using a TXT record to announce the latest version is using the `github` api to get the current release: <https://stackoverflow.com/questions/18995854/how-can-i-use-github-api-to-get-all-tags-or-releases-for-a-project>

[2021-08-09 21:16] timkimber commented on #693
@tlhackque thanks for pointing the issue out, I'd not noticed this when looking through the code but will fix.

[2021-08-09 21:17] timkimber commented on #692
Not a problem, thanks for making these changes.  I use a local docker environment so I don't have to debug in the CI environment, but it wasn't trivial to setup.

[2021-08-10 10:40] tlhackque commented on #694
The problem with that is that for the upgrade tests to pass, the tag has to be created.  But if the tag is created, it will look like a release...

We could use a "test release" code in the version number/tag, but that's the entrance to a maze of twisty passages.  I believe a TXT record is a better - probably optimal - choice.

A TXT record is used by other software for this purpose.  It will be c

[2021-08-10 10:57] tlhackque commented on #690
The CA is BuyPass.

Here's their unified directory case (formatted for readability) - note that the directory has both `new-reg` and `newAccount`:

https://api.buypass.com/acme/directory

[code]
Documentation: https://community.buypass.com/t/63d4ay/buypass-go-ssl-endpoints-updated-14-05-2020

[2021-08-10 11:08] tlhackque commented on #692
FWIW: The test failures on the PR in your repo are (mostly) due to the fact that you didn't  tag 2.39 when you merged it.

They pass here (modulo the notes in the TODO list there).

[2021-08-10 12:47] tlhackque commented on #693
Might want to have tests verify that `.well-known/acme-challenge` is empty after tests (or depending on your test setup, have the same contents as before each test).

Same for DNS `_acme-challenge TXT` records - should be none (or same) after tests.

Would have caught this issue.

[2021-08-10 12:49] tlhackque commented on #690
I added a test for this to the PR.

[2021-08-10 19:32] tlhackque commented on #666
I don't object to exporting `GETSSL_DEBUG`, but I have some reservations about how it would be used.  `getssl`'s `-d` is not very granular.

I found that when debugging the DNS scripts and my server reload actions, it was an advantage to have more granular controls.

For example, `dns_godaddy`  (the action script under `dns_add_godaddy` and `dns_del_godaddy`) has its own options for general and pr

[2021-08-11 18:24] lodott72 opened #695 "Errors during challenges may leave pending authorizations"
**Describe the bug**
When a request with a large number of domains is processed, an early verification error will error_exit and apparently leave pending authorizations. If this is repeated a few times, the rate limit of 300/account may be reached quickly.

Such pending authorizations may count towards the account-based rate even if the staging CA is used - I was working exclusively with the stagi

[2021-08-14 11:07] tlhackque commented on #695
Large numbers of domains in a single certificate results in large certificates.  Although many CAs allow 35 - 250 names/certificate, this isn't good for performance of the service.  Let's Encrypt limits you to 100 names/certificate.  In any case, large certificates have to be sent over the wire, and at the client, decoded & a linear search performed to match the names.  It adds up.  Unless all the

[2021-08-14 15:38] lodott72 commented on #695
You make good points about using large SANS and I agree fully, though for now I don't really have a choice here,

But I think I can actually can use http-01 for those particular certs, though it still needs some fiddling - I am working on a loadbalancer appliance here, I have to properly import the challenge token into the config plus coax the correct services into using it to respond to the LE re

[2021-08-15 11:55] tlhackque commented on #695
Ordinarily, the members of a load-balanced cluster have (at least internally visible) hostnames and addresses.
All you need to do is to push the token to **all** the members' `.well-known/acme-challenge` directory(ies).   Note that `getssl` locations (`ACL=` parameter)  can be a list of targets - even mixed methods.  e.g.
[code]
Alternatively, you can keep that directory on a single member (host)

[2021-08-15 18:39] #690 closed

[2021-08-15 18:39] #692 closed

[2021-08-15 19:51] tlhackque opened #696 "Some tests not cleaning up properly"
As noted in #691:

Some tests (e.g. `17-test-spaces-in-sans-http01`) assume that the last test will clean up the environment. This won't happen if skipped. The cleanup should be in teardown_file() functions instead.

I didn't have time to go through all the tests (I think there were over 150 files, but most of the changes were automated...).  These cases can probably be identified and addressed in

[2021-08-15 19:59] lodott72 commented on #695
Copying files is not involved in my case, it really is an import into the config subsystem and making the correct virtual http service use this config entry. But I am confident that I will get this to work, so all should be good here.

Interesting, I did not know about this split view feature - but then, networking is not my area of expertise and I only have very limited influence on the overall n

[2021-08-15 19:59] tlhackque opened #697 "Dnyamic DNS tests fail if more than one copy (fork or pull request) runs them"
As noted in #691:

The dynamic DNS tests - if they are enabled - probably will fail if more than one copy is run simultaneously - e.g. from the srvrco repo and a fork due to a fork push with a pending pull request. The fix would be to include the repo name (can be found in GITHUB_REPOSITORY) - something like the following to modify the domain names would support one run/repo:

[code]
If test run o

[2021-08-15 20:02] tlhackque opened #698 "Dynu test faiilures due to leftover TXT records"
As noted in #691

The dynu failures seem to be because there are multiple TXT records - one of which is the expected record, but letsEncrypt is objecting to the others. See https://github.com/srvrco/getssl/runs/3235447284?check_suite_focus=true Probably a failure of a previous run to clean up.

The failures should clear up if you delete the TXT records.  Might be a good idea for the first test to

[2021-08-15 20:07] tlhackque opened #699 "check_retry_add_dns_command test doesn't actually retry"
As noted in #691:

test 18 (`check_retry_add_dns_command`)  is expected to exit with failure status, which generates a fair bit of output due to the test harness.

More interesting is that the retry uses a failing `add_dns_*` command, which doesn't really test much.

It would be better for the test to switch to a command that is expected work after the first failure, which would verify that the re

[2021-08-15 20:25] tlhackque commented on #695
Don't get too excited about preauth.

https://github.com/letsencrypt/boulder/blob/master/docs/acme-divergences.md

Section 7.4.1
Pre-authorization is an optional feature and we have no plans to implement it. V2 clients should use order based issuance without pre-authorization.

I don't work for LE, so I'm not defending or excusing it.  Just pointing out where they document what they do.

They prob

[2021-08-15 22:09] lodott72 commented on #695
Okay, I saw it was optional but naively assumed that LE would implement it - just checked via /directory, they in fact do not... well.

Checked that as well - I was basing my hope on the orders field that is specified in 7.1.2.1 of the RFC.

But an account object returned by LE via new-acct does not contain that field, so you need to keep track of the orders at least.

But returned order objects c

[2021-08-16 09:57] tlhackque opened #700 "More missing tags"
Current version is 2.41, but tags v2.40 and v2.41 weren't migrated when pull request #691 was merged.

This will cause update test failures again.

You may also wish to make a release...unless you're working on other open issues.

[2021-08-16 15:56] miesi opened #701 "check_dns does not work on Solaris/Omnios"
**Describe the bug**
check_dns does not work for long resource record names. Validation of _acme-challenge.abrechnung.spi-kg.de. fails on SunOS.

**To Reproduce**
Steps to reproduce the behaviour:

code is
[code]
this does not work for
[code]
I think the `\W` is only correctly interpreted by GNU grep. The default grep on Solaris/OmniOS is POSIX.1 grep.

using gawk the greps can be avoided and the

[2021-08-19 10:08] tlhackque commented on #695
I don't think it's quite that simple.

Besides finding the authz, you also have to validate that the client can see the token before completing the authz.  E.g. if the DNS update or HTTP file placement (or in your case, configuration change) initially failed or disappeared.  You may have to retry placing the token in these cases.  You may also have to get a new nonce, since considerable time may e

[2021-08-21 02:49] #657 closed

[2021-08-24 17:15] sidrew commented on #308
Any update on this issue?

[2021-08-25 10:06] sideeffect42 commented on #700
+1

It would be nice if all releases would be tagged when they are made. As it is it is not really clear when new releases are made.
Tracking a variable in a Bash script is not really "convenient" (especially because it is not clear if the variable is bumped at release (final) or at the commit after a release ("next")).

[2021-08-25 11:07] tlhackque commented on #700
I bump the version number when I create a pull request.  I also bump it for commits meriting an entry in the revision history while a pull request is open.

The regression tests fail if head isn't tagged to match.

On GitHub, releases are distinct from tags.  A release is made when the project manager decides that the codebase is stable.

You can see the releases at https://github.com/srvrco/getss

[2021-08-25 13:53] timkimber commented on #701
Hi @miesi

Thanks for reporting this, I'll fix

[2021-08-25 14:12] timkimber commented on #696
Thanks - I'll take a look and fix

[2021-08-25 14:15] timkimber commented on #697
It's rare that this causes problems, but agree it should be fixed.  The credentials have to be available in the repo as the automated tests need them, but I'm not an admin so can't add them to GitHub.

[2021-08-25 14:15] miesi commented on #701
I sketched something like
[code]
in my fork.

[2021-08-25 14:18] timkimber commented on #698
Thanks for reporting this, I fixed this manually, but I'll add something to fix it automatically.  I'll also check that it's not a bug somewhere in the tests

It can't occur for DuckDNS as that provider only allows a single TXT record for a domain.

[2021-08-25 14:20] timkimber commented on #699
The retry test intentionally just checks that the dns_add script is called again if the DNS isn't updated, I'll look at adding logic to only fail the first time or make the tests less noisy

[2021-08-25 14:25] timkimber commented on #700
I've updated the latest tag and will do the release in a moment.  Not sure why merging the PR didn't also update the tag, I'll have a look and see if I can work out what happened.

It's possible to create a github action to auto-update the tag when the version in the `getssl` script is updated, I've added that to my to-do list.

_Sorry for the delay in updates - I've just got back from holiday_

[2021-08-25 14:25] #700 closed

[2021-08-25 14:29] timkimber commented on #308
Sorry, I've just not had time to progress this, although it's high on my list of things I want to fix.  I'll do the quick bug fixes next then start on this

[2021-08-26 20:08] tlhackque opened #703 "Installation advice in README doesn't necessarily get a stable release"
As noted in #702: The README's "1 line install" advice instructs the user to get (only) `getssl` from HEAD, even if it's not a stable release.

I don't have a simple 1-line equivalent to get the file from `latest`.

I'd like to simply recommend going to https://github.com/srvrco/getssl/releases, getting the tarball & executing a make install.

But as that's a major change, and some might think it

[2021-09-05 23:32] pfdint commented on #703
I am one of the people who were convinced to use getssl on the spot because it was literally 1 file.
And literally 1 file with a command I could write from memory.
It's a critical difference in the character of the project that lets it stand out against its competitor certbot.
Yes eventually as I learned to use it I had to download/create more files for dns but that's fine, the frog was boiled slo

[2021-09-06 00:40] tlhackque commented on #703
I wouldn't describe `certbot` as a competitor; it's an alternative.  `getssl's` main advantage is that it only requires `bash` (and a few commands); `certbot` requires Python, which in turn has a lot of dependencies.  Python is more widely available than it was, but apparently there are hosting providers that don't provide it, or don't provide the right version, or don't support snaps/containers,

[2021-09-07 02:48] #664 closed

[2021-09-22 07:30] timkimber opened #705 "Running getssl without a domain gives no error or information"
See https://community.letsencrypt.org/t/cpanel-certificate-installation-failed-with-cert-obtained-using-getssl/159108/31

Running `getssl` without a domain in the SANS line or a domain on the command line doesn't give any feedback on why no certificate files have been produced.

[2021-09-30 02:50] #670 closed

[2021-09-30 16:28] slay2k opened #709 "Unknown API version"
Hi,

I'm trying to renew certificates since the LetsEncrypt R3 expiration has broken SSL on my sites as of Sept 29th.  Now when I run "getssl -a", I get the following.  I tried this on both v2.37 and v2.43:

[code]

Can you help me figure out where the mistake is?  I looked at the code but not sure where the error is coming from.

R

[2021-09-30 16:36] McQgit commented on #709
@slay2k I am a new user of getssl but what about trying it as: `getssl -a -d`

Any more clues to problem?

[2021-09-30 16:52] timkimber commented on #709
Hi @slay2k

I think the problem is that you need to update the root certificates on your server, this is usually done by updating the `ca-certificates` package.

Can you post the output of `curl "https://acme-staging-v02.api.letsencrypt.org/directory"` as this will confirm that is the problem

[2021-09-30 17:04] slay2k commented on #709
Hi @timkimber, here's the output from curl "https://acme-staging-v02.api.letsencrypt.org/directory"

[code]

[2021-09-30 17:15] timkimber commented on #709
Hi @slay2k

Thanks, as I suspected the root certificates on your server are out of date.

What operating system are you running and I'll see if I can find the instructions to update them

[2021-09-30 17:17] slay2k commented on #709
Thanks for the super-fast and awesome responses, @timkimber

Unfortunately a really old one:

[code]

[2021-09-30 18:13] timkimber commented on #709
From looking at [https://askubuntu.com/questions/73287/how-do-i-install-a-root-certificate] it seems that running:

`sudo apt-get install ca-certificates`

will fix.  Later tonight I'll spin up a docker container and test

[2021-09-30 19:57] timkimber commented on #709
I can't start a docker image of ubuntu 13, the images on docker hub are too old.  I've tried ubuntu 14 and that works without any changes, but I think that's because it already has the latest ca-certificates.

Let me know if installing that package fixes your issue

[2021-09-30 20:08] sidrew commented on #308
Quick bump on this... curious if you've made any progress.

[2021-09-30 20:11] sidrew opened #711 "getssl pulling certs that include the expired dstrootx3 as part of the chain."
We're using version 2.27 due to this issue:

https://github.com/srvrco/getssl/issues/308

And I don't know if it's because of this or some other reason... but the certs we're pulling with 2.27 include the now expired DST Root X3 cert at the base of its chain. Specifically... it's pulling the cross-signed ISRG Root X1 cert... rather than the self-signed.

Anyone have a clue if getssl version influe

[2021-09-30 20:42] McQgit commented on #711
@sidrew That is still the default chain from LE as it provides support for old Android clients.  But, as I do, you can choose the alternate chain from LE with the 'true' ISRG Root X1 by putting this in your getssl cfg:
`PREFERRED_CHAIN="ISRG Root X1"`

That preferred chain value only works with LE production servers as the test servers have different cert names.

CAVEAT: Alas, just looking at the

[2021-09-30 21:09] #276 closed

[2021-09-30 21:11] sidrew commented on #711
Ah... well, that makes sense... hopefully the issue preventing us from upgrading will be resolved soon.  Thanks for the intel.

[2021-09-30 21:11] #711 closed

[2021-09-30 21:12] timkimber commented on #308
@sidrew I got 80% of the way to making it work, then ran out of time.  Now that I'm sort-of on top of bugs/issues I'll see if I can find what I did last time and complete it.

[2021-09-30 21:37] funasoul commented on #709
The same problem occurred on my old FreeBSD system. As advised, updating the root certificate solved the problem. Thanks, @timkimber !!

[2021-09-30 23:19] rxm opened #712 "Missing hyphen"
The `--preferred-chain` flag is not being accepted from the command line..

[code]

To fix it just add the missing hyphen on line 2744.

[2021-10-01 01:12] HashimotoEffata opened #713 "getssl: unknown API version"
Today I noticed that the SSL certificate that should have been automatically updated by cron has not been updated.
I updated git just in case and typed the command to update, but it was not updated.
[code]
This is the first automatic update of getssl on this server.

## OS
CentOS release 6.5 (Final)

## Information that may be useful
I referred to #709 and checked curl's reply, but it seemed to be

[2021-10-01 01:51] slay2k commented on #709
@timkimber unfortunately doesn't seem to install anything on my system:

[code]

[2021-10-01 01:52] slay2k commented on #709
@timkimber I actually installed getssl on this system because it's too old to run the standard certbot that I use on newer machines, so I'm hoping I can find a way to make it work.

[2021-10-01 12:43] timkimber commented on #713
@HashimotoEffata I think this is a similar problem to #709, your certificate store doesn't have the new X1 root certificate.

Doing:
`yum update ca-certificates`

Should fix this for you

[2021-10-01 13:57] timkimber commented on #709
@slay2k I've got three suggestions, if you just want to make it work and not worry about fixing the server, you can turn off certificate validation in curl:
[code]

If you want to try fixing the server, I have two suggestions:

First option: using the latest certificate bundle from curl.se
[code]

Second option, you'll need to:
1. Replace/install the non-cross signed ISRG X1 certificate from https

[2021-10-01 16:18] respencer opened #714 "Don't use SANS for token?"
I don't know if this is a bug or if I'm missing something. We have 2 CDN servers that have the same domains on them for load balancing.

I've used getssl successfully in the past om them, but now it's using the SAN domain names to look for well-known tokens and failing with a 404 (it's random whether it's going to be pointing to itself or the other server when making that query). It should only be

[2021-10-01 17:06] timkimber commented on #712
Hi @rxm
Thanks for reporting this, I only test the configuration value in getssl.cfg - should probably add tests for the command line args too!

It will be fixed in the next release (probably today)

[2021-10-01 17:11] timkimber commented on #714
Hi @respencer

Just to check my understanding, you are running `getssl` something like this:
`./getssl www.domain.com`

and your `getssl.cfg` file holds something like this:
`SANS=cdn1.domain.com, cdn2.domain.com`

and you're using http-01 validation (i.e. copy the challenge token to the .well-known directory), and `getssl` is checking `cdn1.domain.com/.well-known/challenge-token` which doesn't ex

[2021-10-01 17:53] respencer commented on #714
Okay, I realize now that what I wanted doesn't make sense as the individual domains do need to be verified.

The headscratcher is why this used to work and now doesn't.

Changing you example to be a bit clearer. There's 2 CDN servers: `cdn1.domain.com & cdn2.domain.com`

`cdn1.domain.com:SANS="cdn.domain.com, download.domain.com, rsync.domain.com"`

`cdn2.domain.com:SANS="cdn.domain.com, download.

[2021-10-01 18:24] McQgit commented on #714
@respencer The Lets Encrypt servers need the same response from any server which might respond to its challenges.

So, if I understand your setup correctly, when LE sends a challenge for download.domain.com your CDN may route it to either server (cdn1 or 2) so each one must be capable of responding correctly.

If you started at server CDN1 you might sometimes get lucky if your CDN routed the LE ch

[2021-10-01 18:44] slay2k commented on #709
Thanks a ton @timkimber, both the 1st & 2nd option worked (except it's update-ca-certificates , plural). Cheers!

My only remaining problem is that regenerating the cert still gives me the same "R3 certificate expired" nonsense, because I guess it's still using  the wrong R3 cert.  This is probably outside the scope of this ticket now, but might as well share that I deleted the R3 cert in /etc/ssl

[2021-10-03 00:53] slay2k commented on #709
Just to close out this thread -- I got everything working.

Following the instructions here (https://www.stephenwagner.com/2021/09/30/sophos-dst-root-ca-x3-expiration-problems-fix/), I modified /etc/ca-certificates.conf by commenting out the old DST_Root_CA_X3 and R3 certs, and downloading and pointing to the new ones:

[code]
Ran `update-ca-certificates --fresh` to read from this config file and

[2021-10-03 00:55] tlhackque commented on #709
FWIW: https://github.com/tlhackque/certtools has a new tool that will make diagnosing these issue simpler.

See `ssl_check_chain`.  It does require Perl.

[2021-10-03 00:56] tlhackque commented on #713
FWIW: https://github.com/tlhackque/certtools has a new tool that will make diagnosing these issue simpler.

See `ssl_check_chain`.  It does require Perl.

[2021-10-04 11:12] pstimpel commented on #713
Just in case you needgetssl running and cannot update your ca-certs yet: write a -k into your .curlrc, or in case it does not exist:
echo "-k" > ~/.curlrc

This will disable certification checks. Of course this is only a dirty hack until you fixed your ca certbase.

[2021-10-05 06:08] HashimotoEffata commented on #713
Thank you for all the comments.
I also considered security and decided to move from CentOS 6 to 7.

[2021-10-05 06:08] #713 closed

[2021-10-05 06:33] distler opened #716 "Retrieve Account ID"
There does not seem to be any obvious way to determine the account ID ( a URL of the form `https://acme-v02.api.letsencrypt.org/acme/acct/12345678.`) associated to a particular account.

A simple flag like

[code]

which returned said URL would be helpful.

[2021-10-05 21:18] timkimber commented on #714
Hi @respencer

I'm not sure how to do this without either
1. following @McQgit suggestion and having cdn1.domain.com and cdn2.domain.com
2. or changing `getssl` to support more than one ACL location for a domain in the SANS list

I think I can do something simple to support (2) if it would be useful as I'm sure there's been a previous issue opened about CDN certificates - just let me know if you w

[2021-10-05 22:58] distler commented on #716
[LetsEncrypt ECDSA availability in production environment](https://community.letsencrypt.org/t/ecdsa-availability-in-production-environment/150679).

[2021-10-06 10:56] timkimber commented on #709
@slay2k no problem, happy I was able to help and thanks for the update
@tlhackque that's a useful tool

[2021-10-06 10:56] #709 closed

[2021-10-06 16:50] bigbyfindrake opened #717 "upgrade check dies "can't check for upgrades""
**Describe the bug**

"getssl -u" dies/exits with the message/error:

The current repository has no releases or is improperly tagged; can't check for upgrades: ''

**To Reproduce**

Run "getssl -u"

OS: FreeBSD 9.1-RELEASE
Bash:  GNU bash, version 4.4.0(1)-release (i386-unknown-freebsd9.1)
getssl V2.43

**Additional context**

I have attached the output of 'getssl -d -u'.

[output.txt](https://git

[2021-10-06 17:19] bigbyfindrake commented on #717
It looks to me like the beginning of line anchor in the sed recipe in this line:

  release_tag="$(sed -e'/^"tag_name": *"/!d;s/^"tag_name": *"\([^""]*\).*$/\1/' <<<"${release_data}")"

isn't matching, because the curl output in $release_data has all line terminators removed.

[2021-10-06 17:24] timkimber commented on #717
@bigbyfindrake Thanks, I'm about to push a new version so I'll fix that in this release.
Sorry for the problem - I need to work out a way to test on FreeBSD

[2021-10-06 17:28] bigbyfindrake commented on #717
I can provide you with access to a host/account you can test on.

[2021-10-10 10:40] uklatt opened #718 "Update 2.43 to 2.44 deletes getssl-script!"
Hello,

today I updated getssl 2.43 to 2.44.
After executing the command "./getssl -u" the getssl file was overwritten!
The content of getssl is:

Is there a problem with version 2.43?

Uwe

[2021-10-10 21:06] timkimber commented on #718
Hi @uklatt

Really sorry that happened to you, we changed the upgrade function in the last release but I tried to make sure it wouldn't break!

I cannot reproduce locally
1. What os are you running?
2. Can you try upgrading from 2.43 again, but this time with debug and post the output here (version 2.43 of getssl should be saved as getssl.v2.43)

Sorry again that this has broken for you

[2021-10-10 23:20] PostholerCom commented on #718
Same thing happened to me. The newly installed getssl had one line in it:

400 Bad Request

Sounds like some wget or curl gone wrong. Here's my uname -a:
Linux 4.14.214-118.339.amzn1.x86_64 #1 SMP Sun Jan 10 10:40:32 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

[2021-10-10 23:35] PostholerCom commented on #718
Here's the getssl -d -u command:

detected os type = linux

Running Amazon Linux AMI release 2018.03
Kernel \r on an \m

checking for required which ... /usr/bin/which

checking for required openssl ... /usr/bin/openssl

checking for required curl ... /usr/bin/curl

checking for dig ... /usr/bin/dig

function dig found at /usr/bin/dig  - setting DNS_CHECK_FUNC to dig

checking for required dirname

[2021-10-10 23:40] PostholerCom commented on #718
After a little investigating here's the problem child. Try to open it:

https://raw.githubusercontent.com/srvrco/v2.44/getssl

[2021-10-11 13:31] #718 closed, assigned to timkimber

[2021-10-11 15:00] PostholerCom opened #720 "Issue #719 is still present, same bad url"
Url is bad:
https://raw.githubusercontent.com/srvrco/v2.45/getssl

 getssl -u -d :

detected os type = linux

Running Amazon Linux AMI release 2018.03
Kernel \r on an \m

checking for required which ... /usr/bin/which

checking for required openssl ... /usr/bin/openssl

checking for required curl ... /usr/bin/curl

checking for dig ... /usr/bin/dig

function dig found at /usr/bin/dig  - setting DN

[2021-10-11 16:25] PostholerCom commented on #720
@timkimber that worked great! Back to normal.

Thanks a lot for creating/maintaining getssl. It's such a simple, no dependency solution for keeping certs updated. It's just awesome!

[2021-10-12 02:47] pbhenson opened #721 "Issuer: O = Digital Signature Trust Co., CN = DST Root CA X3"
When I get/renew let's encrypt certs, I still get a reference to the expired
DST Root CA X3 in the chain. The cert itself is signed by C = US, O = Let's Encrypt, CN = R3, and then I get a cert for that one signed by ISRG Root X1. The next cert should be the X1 root CA, but instead I still get X1 signed by DST Root CA X3. I'm not sure if it's because of the certs on my local box (I deleted the expi

[2021-10-13 02:51] #284 closed

[2021-10-13 23:15] pbhenson opened #722 "Updated to 2.45 and CNAME's stopped working"
I have a dynamic dns zone (_acme-challenge.pbhware.com) for acme dns challenges, and cname entries (_acme-challenge.bart-console.pbhware.com. CNAME bart-console._acme-challenge.pbhware.com.) for lookups.

I just updated to 2.45 and this stopped working:

dig TXT _acme-challenge.bart-console.pbhware.com @dns.pbhware.com

check_result=""

expecting  "LiZDJKymLU5C0s_TnvIYqM14SU6zP3S1PVO1vxz0IW8"

The

[2021-10-15 16:14] timkimber commented on #722
Hi @pbhenson

I think this has been broken for a while (see #600 and #308) but I might have fixed.  Can you try the version of `getssl` in the `acme-dns` branch and see if it fixes the problem

[2021-10-15 16:19] sidrew commented on #308
This might seem a little dim... but, I don't see an "acme-dns" branch... only master and APIv2 ... am I missing something?

[2021-10-18 13:39] kinikiti opened #723 "Unable to get local issuer certificate"
Hello,

I'm trying to generate Let's encrypt certificates for my domain in old unsupported FreeBSD 9.1
I download Mozilla CA root bundle manually and put it in all appropriate folders.
Running `getssl` doesn't report any issues:
[code]
Last message I think related that nginx was not restarted with getssl.
After nginx restart Chrome and Mozilla says that site certificate is Ok.
https://mail.index3.

[2021-10-18 20:31] timkimber commented on #723
Hi @kinikiti

Something is definitely setup incorrectly - I get the same error message when checking your host.  I think you might be missing the ISRG Root X1 a certificate from the bundle.

What instructions did you follow for downloading the Mozilla CA bundle and I'll see if I can reproduce on a virtual openbsd server.

Doing ```openssl s_client -connect www.letsencrypt.com:443``` gives:
[code]

[2021-10-18 21:05] kinikiti commented on #723
So, I just follow official "port" instruction:
https://www.freshports.org/security/ca_root_nss/

[code]
  Download them from [cURL](https://curl.se/docs/caextract.html)

  Add everything to fullchain.

  But I think I fix it (you can test this one more time).
  I replace certificate created by getssl in site directory by the fullchain.crt under `.getssl` directory.
  And looks like with full chain

[2021-10-20 20:12] timkimber commented on #308
Thanks @sidrew I've managed to reproduce the CNAME problem by setting a DNS_SERVER, I'll work on a better fix

[2021-10-24 16:49] Techcrafter opened #725 "SEC_ERROR_UNKNOWN_ISSUER"
I tried to create an SSL certificate on two different servers. Everything seems to work fine, but Firefox gives me the following SSL error: SEC_ERROR_UNKNOWN_ISSUER. How can I fix this?

I simply followed the instructions from the wiki to set GetSSL up on both servers. Both servers fail the SSL connection!

I would have expected the certificate to work.

- OS: Ubuntu 20.04
- Bash Version: 5.4.114-

[2021-10-24 21:35] #725 closed, assigned to nobody

[2021-10-26 15:43] spcontent2 opened #726 "Hard coded Part of ACME-Wellknown-URL in getssl"
**Describe the bug**

Problem 1:
In the file getssl there is the path to the wellknown-url hardcoded

`wellknown_url="${CHALLENGE_CHECK_TYPE}://${d}/.well-known/acme-challenge/$token"
      debug wellknown_url "$wellknown_url"`

Due to the fact, that in the domain-cfg-files you can define the path to the token-folder, it is completely irritating, if this configuration is overwritten by the hard co

[2021-10-26 17:43] #726 closed, assigned to timkimber

[2021-10-27 17:44] icamps opened #727 "no certificate obtained from host message"
Hi all,

I am trying to configure a virtual host (moleculardocking.net) in an existing web server (lamodel.unifal-mg.edu.br) running Apache2 on OpenSUSE Leap 15.2 64bits.

The web server already has SSL institutional certificates.

Now, I want to add SSL certificates for use with the second site.

After editing the config file, I am getting the following output:

[code]
How to solve this issue?

R

[2021-10-28 10:02] #723 closed, assigned to timkimber

[2021-11-03 14:29] icamps commented on #727
Hi @McQgit and @sideeffect42 ,

I decided to move to a separate server.

Now everything is working ok.

Thanks.

[2021-11-03 14:29] #727 closed

[2021-11-06 09:30] hallonstedt opened #728 "upgrade not working on 2.45 version"
It seems that the upgrade functionality is still soemwhat broken. If I add the --upgrade or -u switch to getssl it just lists the options as if the **upgrade** switch was not recognized.

[code]

[2021-11-09 16:40] sidrew commented on #308
Awesome, @timkimber ... it looks like that CNAME discovery block could be jammed in a separate function... yeah?

[2021-11-10 18:09] MacTrophy commented on #341
Is it possible that this was never documented? Works #1 for my needs but took a while to find this!

[2021-11-11 21:45] timkimber commented on #728
Hi @hallonstedt

Thanks for reporting this.  I've just tested and the `-u` option does upgrade `getssl` if there is a new version, but it always prints the usage message.  I'll fix

[2021-11-11 21:47] timkimber commented on #308
Hi @sidrew

I've updated the version in the `acme-dns` with a better CNAME fix (and added tests and unit tests).  If you have time to test that would be great, otherwise I'll release it in a day or two.

[2021-11-11 21:52] #701 closed

[2021-11-12 15:45] sidrew commented on #308
@timkimber ... there we go... now she's working. Thanks for the effort!

[2021-11-23 09:35] barcar opened #732 "DNS script options in config file"
**Describe the bug**

It seems that godaddy dns script variables in the global getdns.cfg file are not being picked up. Is this correct?

**To Reproduce**
Steps to reproduce the behavior:

1. Update  ~/.getssl/getssl.cfg with…

GODADDY_JSON="/home/myuser/getssl/dns_scripts/JSON.sh"
GODADDY_KEY="mykey"
GODADDY_SECRET="mysecret"
GODADDY_BASE="mydomain.net"
GODADDY_TRACE="Y"
GODADDY_SCRIPT="/home/myu

[2021-11-23 16:32] sidrew commented on #308
@timkimber ... I think this one is ready to merge and close... yeah?

[2021-11-25 16:07] #308 closed

[2021-11-25 16:07] #585 closed

[2021-11-25 16:07] #600 closed

[2021-11-25 16:07] #646 closed

[2021-11-25 16:07] #722 closed

[2021-11-25 16:09] canton7 commented on #600
Thank you!

[2021-11-29 17:20] Invariel opened #733 "Can't retrieve correct TXT record when using DNS-01"
**Describe the bug**
Websites that already exist that are configuring SSL may already have TXT records through their registrar.  As a result, dig, nslookup, and similar tools may return that other TXT record instead of the acme challenge record.

**To Reproduce**
Have a pre-existing TXT record configured for @, then run getssl using dns-01 for the acme challenge.

**Expected behavior**
If the acme

[2021-12-09 15:24] mendberg opened #734 "upgrade from 2.43 to 2.45 failed, leaving getssl broken"
When upgrading getssl from 2.43 it leaves a broken **getssl** file containing nothing but an error message "400: Invalid request" within that file. Subsequent calls to getssl will fail as it no longer contains any program code. See console log below.

Workaround: upgrading manually to 2.45

Instead of breaking the getssl file, upgrade process should check for errors and not overwrite getssl if any

[2021-12-10 22:02] timkimber commented on #734
Hi @mendberg

Thanks for reporting this.  It was fixed in release 2.45 (the diffs are in this commit: https://github.com/srvrco/getssl/commit/f27862964449914ba80e45a896449098ce76bfc9)

I updated the first page in github to show the following message:
![getssl-upgrade-broken-warning](https://user-images.githubusercontent.com/15785928/145646947-300f032f-6bb3-42a5-b353-f3522631a513.png)

I'm happy to

[2021-12-10 22:08] timkimber commented on #733
Hi @Invariel

Thanks for reporting this bug, I've created a txt record for one of the test domains and will reproduce and fix.

Although the DNS_ACME_CHALLENGE_RECORD is a good idea, I think the "_acme-challenge" is part of the RFC, not something an ACME client can control.

[2021-12-10 22:13] McQgit commented on #733
It is:
https://datatracker.ietf.org/doc/html/rfc8555#section-8.4

[2021-12-10 22:14] timkimber commented on #732
Hi @barcar

Thanks for reporting this - it's a problem with the documentation.  Because of the way the scripts are called, you need to export the GODADDY_* variables in `getssl.cfg`

i.e. step 1 should be:

1. Update ~/.getssl/getssl.cfg with…

[code]

[2021-12-10 22:15] #720 closed

[2021-12-11 23:31] barcar commented on #732
This worked perfectly. Thanks @timkimber

[2021-12-11 23:31] #732 closed

[2021-12-14 20:10] idolum commented on #734
I faced, the same issue and the first source to look up are the issues of a project. So, having this issue (where I found the solution) as well as the release notes and the note on the main page is perfect!

[2021-12-16 00:23] moonlitknight commented on #650
I've just experienced the same problem. In my case ca-certificates was installed, however it was out of date. Fixed with an `apt-get update` . Thanks for your work.

[2021-12-16 08:57] polatsinan opened #736 "Cannot revoke certificate due to "Certificate from unrecognized issuer""
**Describe the bug**
I requested a certificate using the following domain configuration:
[code]

It created a certificate with the incorrect chain (STAGING), instead of PRODUCTION:
[code]

So I tried to revoke the certificate, but it fails:
[code]

**To Reproduce**
See above

**Expected behavior**
Revoked certificate.

**Operating system (please complete the following information):**

- OS: CentOS

[2021-12-16 15:26] McQgit commented on #736
@polatsinan You have requested a certificate from the staging CA.  Staging is only for testing so you do not run into rate limits.

You need to change your CA variable in getssl.cfg to the production CA and re-run getssl.  You can add that to your cfg for your subdomain or you will find it in the getssl.cfg in getssl install folder.

# The staging server is best for testing
#CA="https://acme-stagi

[2021-12-16 16:33] RichyT commented on #728
Upgraded to 2.45 now I just get usage info when I run getssl. Nothing else changed. Was working fine before.

[2021-12-16 16:36] RichyT opened #737 "Upgraded to 2.45 now I just get usage info when I run getssl. Nothing else changed. Was working fine before."

[2021-12-16 16:37] #737 closed

[2021-12-22 15:30] timkimber commented on #733
Hi @Invariel

I can't reproduce this problem.

Checking the code, it's already doing what you suggest:

line 1406 in fulfill_challenges() adds the _acme-challenge prefix:

      rr="_acme-challenge.$(printf '%s' "${d#\*.}" | tr 'A-Z' 'a-z')"

      # find a primary / authoritative DNS server for the domain
      if [[ -z "$AUTH_DNS_SERVER" ]]; then
        # Find authorative dns server for _acme-c

[2021-12-22 15:43] timkimber commented on #736
@polatsinan the `--revoke` option doesn't use the config file and uses the production LetsEncrypt server unless you specify otherwise.

I'll add some code to detect if the certificate has been issued by the testing server and use that to revoke if it has.

[2021-12-25 14:37] teknopaul opened #738 "SKIP_HTTP_TOKEN_CHECK="true" stopped working"
**Describe the bug**

SKIP_HTTP_TOKEN_CHECK="true" stopped working

**To Reproduce**
just updating certs on cron

**Expected behavior**
certs to update automatically
**Operating system (please complete the following information):**

Ubuntu 20.04.3 LTS
GNU bash, version 5.0.17(1)-release (x86_64-pc-linux-gnu)

hardcoding inside the script SKIP_HTTP_TOKEN_CHECK="true"
worked , presumably it will bre

[2022-01-01 23:50] Invariel commented on #733
Interesting, maybe I managed to have an older version of the code somehow.  I'll update and confirm that it doesn't happen again.  (Sorry about the delay, I've been mid-move.)

[2022-01-04 20:53] werner17 opened #739 "update problem due to domain verification with https RewriteCond"
getssl checks the acme challenge via http request before creating a new certificate ; that failed when a previous script had rewritten the apache2 config files such to automatically upgrade http accesses to their https counterpart such that all http requests are actually https requests - but that fails if the certificate for this https site does not include the domain yet, and it does not include

[2022-01-04 21:09] McQgit commented on #739
Just a couple things.  One, I am not the author of getssl but I use getssl and I also volunteer at Let's Encrypt support.  That said:

getssl does not check the acme challenge - the Let's Encrypt server does that.  The LE server always makes a request to HTTP for http challenges.  It will only try https if your server redirects it.

getssl does not modify your server config.  If your server conf c

[2022-01-04 21:18] werner17 commented on #739
Ah ok, that explains some things. The problem was that my old certificate did not yet include the new (sub)domain, but the only error message that I got was a timeout message, mentioning it was "probably a firewall issue". But it was due to this redirection problem with a yet invalid certificate. It was a former certbot that created those redirections, so I was not even aware of it. Took me two da

[2022-01-04 22:02] McQgit commented on #739
The "possible firewall" problem was not related to an invalid cert.  As I said, the LE server does not validate the cert you send it.  There must have been some other comms problem that prevented connect (maybe other faulty/missing ssl settings unrelated to certs).  That error occurs when the LE server cannot reach your site - it has not even seen any cert from it.  These sorts of problems are rou

[2022-01-12 12:38] #728 closed

[2022-01-12 12:38] #688 closed

[2022-01-12 12:38] #696 closed

[2022-01-13 11:05] fideluto opened #742 ""getssl: unknown API version" and "exiting due to config errors""
**Describe the bug**
We have been updating our certificate for a while using the command sudo /root/nuevo/getssl/getssl -U -a -q, but seems it has stopped working

**To Reproduce**
1. I've executed "sudo /root/nuevo/getssl/getssl -U -a -q -d" > 1.txt

2. The screen has shown that:
getssl: unknown API version
getssl: www.optimait.es: exiting due to config errors

3. The 1.txt content is

detected o

[2022-01-13 21:26] timkimber commented on #716
@distler

This is now done, apologies for how long it took!

just do `getssl --account-id`

[2022-01-13 21:26] #716 closed

[2022-01-16 22:44] shoshin71 commented on #418
This issue still exists. If you have zones in route53 for example.com and foo.example.com and you try to use this to obtain a certificate for bar.foo.example.com, it will loop forever with Didn't find _acme-challenge.bar.foo.example.com entry yet, sleeping...

[2022-01-18 11:03] xoferz opened #743 "-u or --upgrade option without any others triggers usage instructions"
**To Reproduce**
Run:
[code]

**Expected behavior**
It should either update or say that no updates are available.
It specifically says that -u "can be used with or without domain(s)", but currently implies that there was a wrong option specified.

[2022-01-19 11:04] timkimber commented on #742
Thanks for replying and letting me know you managed to fix it!

[2022-01-20 20:40] timkimber commented on #743
Hi @xoferz
Thanks for reporting this.  It's a duplicate of #728 which is fixed in 2.46, but I forgot to release that version!

I've just done the release, so you shouldn't see this error after you've upgraded

[2022-01-27 13:51] Kadigan opened #744 "Under macOS with a user with changed username/folder, fails to pick the correct directory, then fails"
**The bug:**
Under macOS, if you happened to have changed your username or home folder path, the script will _fail to correctly set the folder_ when generating the account key (it's clearly trying to write to a nonexistent `/Users/{system-username}/.getssl/account.key` when it should be writing to `/Users/{actual-user-folder}/.getssl/account.key`).

The same bug _doesn't seem to affect_ the certif

[2022-01-30 15:32] Dash opened #745 "Private keys being overwritten v2.44+"
**Describe the bug**
From version 2.44 I'm having my private keys in my .getssl directories overwritten by newly generated RSA keys, which is new (and breaking) behaviour.

I'm using EC keys.

**To Reproduce**
Run getssl against an existing config with no PRIVATE_KEY_ALG value set.

First step is that getssl will start creating an RSA key over the existing EC key, and then proceed as normal.

**Ex

[2022-02-01 11:23] Kadigan opened #746 "Seems impossible to add ACL with password that contains an apostrophe"
**Describe the bug**
Attempting to add an ACL that specifies a password with a single apostrophe is met with failure. No matter how I attempt to escape it, it seems to be filtered out of the output in a nonstandard way (so `\'` becomes `\`, `\\\'` becomes `\\\` and so on - _not the expected behaviour_).

**To Reproduce**
Steps to reproduce the behavior:

1. Attempt to use a password with a single

[2022-02-01 12:38] Kadigan commented on #746
For now I opted to simply add a second FTP account (with a different password, which does resolve the issue for me in this instance), but this will probably bite someone who can't get a second account _and_ can't change the password.

[2022-02-01 15:25] McQgit commented on #746
Can't you just do "abc'123" ?

I did not try that in getssl ACL as you describe - this is just generally how I would do that in bash

[2022-02-07 06:15] akselii opened #747 "Joker dns scripts not working"
**Describe the bug**
Current joker dns scripts are not working.

**To Reproduce**
Try to use the dns_add/del_joker scripts, wont work.

I tried to fix the scripts, and i was able to get my certs.
Reading through https://joker.com/faq/content/6/496/en/let_s-encrypt-support.html I came up with this for the dns_add_joker:

`curl -X POST https://svc.joker.com/nic/replace -d "username=${USERNAME}&passw

[2022-02-07 21:19] timkimber commented on #747
Hi @akselii

Thanks for reporting this - I'll see if I can request a test account (or similar) from Joker dns so that I can test the changes you suggest

[2022-02-07 21:23] timkimber commented on #746
Hi @Kadigan

Thanks for reporting this.  I know there's an issue with quoting somewhere as occasionally the tests fail because of a carriage return in the token returned from letsencrypt.

I'll see if I can work out how to fix this.

[2022-02-07 21:24] timkimber commented on #745
Hi @Dash

Thanks for reporting this, I think I know the code change which has caused this bug, I'll reproduce and fix.

[2022-02-07 21:27] timkimber commented on #744
Hi @Kadigan

Hi @Kadigan

Thanks for reporting this, but I don't think it's a bug.  `getssl` doesn't do any lookups for the system-username or the user-folder.  The account key location is stored in the ACCOUNT_KEY variable in `getssl.cfg`, and defaults to $HOME if that's not set.

Can you check if it's set to the old directory in `getssl.cfg`

[2022-02-08 05:50] akselii commented on #747
Ah, do note that im using ${DOMAIN_ROOT}, im not sure if it should be ${FULLDOMAIN}.
I have no idea how this cert stuff works, just got into it couple of days ago.

Anyways, I was able to request mydomain.com and *.mydomain.com, didnt try a subdomain.mydomain.com

[2022-02-09 17:17] Kadigan commented on #746
No, you cannot. Trust me, _I tried._ :D

[2022-02-28 19:21] zedtux commented on #586
Oh ! I've spent some hours on this one 'cause of [those lines](https://github.com/srvrco/getssl/blob/master/getssl#L2646-L2652) which are generating a default config file without the magic semi-colon.

Shouldn't you update them too  ?

[2022-02-28 21:10] timkimber commented on #586
@zedtux thanks for pointing this out - I'll find the wiki pages that need updating and make the default config clearer

[2022-03-01 07:20] zedtux commented on #586
I've also spotted [the `README.md`](https://github.com/srvrco/getssl/blob/master/README.md?plain=1#L283-L286) and to be honest, I have never found place, excepted this issue, where there's the semi-colon example.

BTW I would like to share with you a Chef cookbook I've made for getssl : https://gitlab.com/hydrana/getssl-cookbook

[2022-03-01 18:06] timkimber commented on #586
I'm going to update the documentation to explain there are 5 scenarios for the ACL variable:
1. Single domain, single server = single value in ACL
2. Multiple domains, single server = single value in ACL and set USE_SINGLE_ACL=true
3. Multiple domains, single server = array of duplicate values in ACL and set USE_SINGLE_ACL=false
4. Multiple domains, multiple servers = array of values in ACL (one f

[2022-03-09 15:27] CyrusJoudieh opened #748 "ISPCondig API support"
Remotely adding and deleting dns records in ISPConfig

[2022-03-16 22:33] mpaolo opened #751 "problem calling new version; output of ... was "getssl.sh V2.46", expected "getssl V2.46""
Hi

weird, at some point cron run broke with msg:

`problem calling new version; output of /tmp/tmp.67fngmEEyF -v was "getssl.sh V2.46", expected "getssl V2.46"`

the cron script is simply

`/root/.getssl/getssl.sh -u -a $@`

it's run with no more args usually, guess that renaming getssl.sh as getssl fixes it, but it's been this way (getssl.sh) since 2018 working fine, so wonder if that's due to a

[2022-03-24 12:18] exxosuk opened #754 "Postfix cert problem ?"
I am using ubuntu 14 with postfix and with my old lets encrypt files (which are a year outdated) postfix does work..

The lines are:

smtpd_tls_cert_file = /etc/letsencrypt/live/exxoshost.co.uk/fullchain.pem
smtpd_tls_key_file = /etc/letsencrypt/live/exxoshost.co.uk/privkey.pem

Now when I use getssl certs, the mailserver dies and I can't figure out why.

The new lines are :

smtpd_tls_cert_file =

[2022-03-24 13:25] timkimber commented on #754
Hi @exxosuk

I wonder if it's because postfix can't validate the certificate because of the new Root?  Can you try adding
    ```FULL_CHAIN_INCLUDE_ROOT=TRUE```
and re-create your certificates (or download the ISRG Root X1 certificate from https://letsencrypt.org/certificates and append it to `fullchain.crt`)

[2022-03-24 13:27] exxosuk commented on #754
I just updated my question as chain.crt seems to let me check emails again, but thunderbird is now not sending emails.

![Capture](https://user-images.githubusercontent.com/22227683/159926260-c752a04a-ed9e-4aee-935f-37d6db45e307.JPG)

[2022-03-24 13:43] exxosuk commented on #754
Even more odd..

smtpd_tls_cert_file =	/root/.getssl/exxoshost.co.uk/exxoshost.co.uk.crt
smtpd_tls_key_file = /root/.getssl/exxoshost.co.uk/exxoshost.co.uk.key

lets me now send emails but not get them :-\

[2022-03-24 13:54] exxosuk commented on #754
More odd results

#chain - cant get or send email
#fullchain - sending works
#exxoshost.co.uk - sending works

smtpd_tls_cert_file =	/root/.getssl/exxoshost.co.uk/exxoshost.co.uk.crt
smtpd_tls_key_file = /root/.getssl/exxoshost.co.uk/exxoshost.co.uk.key

So I can send emails with those lines, but it won't let me check them.. I did update certs earlier. Its all very confusing :(

[2022-03-24 14:18] #754 closed

[2022-03-28 12:48] exxosuk opened #755 "Cannot verify domain with www"
I seem to have ended up in a chicken and egg type problem..

One of my domains is verified and works correctly. But a second one cannot verify the www part because the domain certificate is invalid..

Registering account
Verify each domain
Verifying chrisswinson.co.uk
chrisswinson.co.uk is already validated
Verifying www.chrisswinson.co.uk
copying challenge token to /var/www/html/.well-known/acme-

[2022-03-28 13:25] McQgit commented on #755
The Let's Encrypt servers do not check the validity of the certs when performing challenge.
https://letsencrypt.org/docs/challenge-types/#http-01-challenge

And, they begin with a request to HTTP://domain/.well-known/acme-challenge/challengeFile
So, the cert is not seen unless you redirect it to HTTPS

Your problem is that your server is redirecting the acme challenges to a "Not Found" page.  Or,

[2022-03-28 13:35] exxosuk commented on #755
Thanks for your reply!

For some reason the challenge token isn't in the chrisswinson folder anymore, So that will be why the not found page is appearing.

 ./getssl chrisswinson.co.uk

A more recent version (v2.46) of getssl is available, please update
The easiest way is to use the -u or --upgrade flag

chrisswinson.co.uk: Certificate on remote domain does not match, ignoring remote certificate (

[2022-03-28 13:40] McQgit commented on #755
If you make a test file as I described can you reach that?

And, the cert from https://chrisswinson.co.uk is not fine but that's a different problem.  See
https://decoder.link/sslchecker/chrisswinson.co.uk/443

[2022-03-28 13:53] #755 closed

[2022-03-31 15:32] HerroBert opened #756 "Script dns_add_ionos problem"
**Describe the bug**
dns script dns_add_ionos show errors:

**To Reproduce**
Steps to reproduce the behavior:

1. create config for dns valition: DNS_ADD_COMMAND=/home/user/.getssl/dns_add_ionos
2. put IONOS-Key into dns_add_ionos (why?)
3. run getssl example.de
4. See error

**Expected behavior**
No error and completed cert creation

**Operating system (please complete the following information):

[2022-03-31 15:49] McQgit commented on #756
The DNS Server is not responding correctly to requests for the CAA record.  The DNS server can say "I dont have one" or "Here it is" but it cannot respond SERVFAIL

Often this has to do with incorrect DNSSEC.  This tool helps identify such problems:
https://dnsviz.net/

Other DNS configuration problems can cause this.  You might want to try posting on the Let's Encrypt community forum https://comm

[2022-03-31 17:41] HerroBert commented on #756
I know DNS very well. I tried again and that worked.
But this error message is still there:
curl: (3) URL using bad/illegal format or missing URL

[2022-04-01 18:09] outoftheblue9 commented on #751
I was getting the same error.  I manually updated the version to 2.46.  It seems the script running on the machine needs to be called `getssl` not `getssl.sh` for the auto update to work.  Try renaming the file and see if it works.

[2022-04-01 18:21] HerroBert commented on #756
I checked with another domain and saw, that del-script is causing this problem:
removing DNS RR via command: /home/user/.getssl/dns_del_ionos servers123.de NH_2Dnh...g180w6zKHg
curl: (3) URL using bad/illegal format or missing URL

[2022-04-01 18:46] githubRover commented on #756
Should not be too difficult to find the underlying reason.  That ionos script is really small:
https://github.com/srvrco/getssl/blob/master/dns_scripts/dns_del_ionos
Their docs:
https://developer.hosting.ionos.com/docs/dns

Another acme client, acme.sh, has a lot of DNS API plug-ins.  Maybe compare theirs to this one for clues?
https://github.com/acmesh-official/acme.sh/blob/master/dnsapi/dns_iono

[2022-04-01 21:22] mpaolo commented on #751
yes did the same in the meantime, I see the strict test on the string seems was introduced in pull 719.

not big deal provided it's documented, though may break auto-updates from eg cron (my case).
I'd rather use a fingerprint check though, like:

in getssl:
[code]

a release script would "pre-stamp" it duly:
[code]

thx

[2022-04-02 03:02] #733 closed

[2022-04-18 13:56] Dominic-Mayers opened #757 "Be kind with the users who do not read the instructions and start a reload command with "ssh " instead of "ssh:""
**Describe the small detail that bothered you**
A reload command "ssh domain command" is not seen as an ssh command.

It just that if you define `RELOAD_CMD="ssh root@${DOMAIN} service nginx reload"` instead of  `RELOAD_CMD="ssh:root@${DOMAIN}:service nginx reload"`, then the code does not know that you are running a ssh command and it does not sleep after and it sees the old certificate when it c

[2022-04-27 16:47] Kadigan commented on #744
So, what other info can I provide?

[2022-04-27 16:51] Kadigan opened #758 "Custom FTP port?"
**Is your feature request related to a problem? Please describe.**
One of our hosts runs their FTP on port 2898.

**Describe the solution you'd like**
I'd like to have the option to set this port, instead of being limited to the default port 21 for FTPES (or any FTP mode, really).

**Describe alternatives you've considered**
The only alternative I see would be to set up a local socket/port proxy,

[2022-04-27 20:58] timkimber commented on #744
Hi @Kadigan

I didn't your previous comment fully and missed that you still thought it was a bug.  The ACCOUNT_KEY variable is set using the following line:

`PROGDIR="$(cd "$(dirname "$0")" || exit; pwd -P;)"`

Can you try that and tell me the output.

My quick guess is that it's something to do with following/not following symlinks which would be good to fix so this doesn't happen to anyone else

[2022-04-27 21:04] timkimber commented on #758
Hi @Kadigan

I thought you could do this using FTP_OPTIONS (which I added for testing and never documented) but you can't, so I'll add this to my todo list.

[2022-05-17 20:36] timkimber commented on #758
Hi Kadigan
I've just added support for `FTP_ARGS` and updated test `34-ftp-passive.bats` to test it, but only for ftp/lftp.

I've not added for FTPS/FTPES but can easily add if you need me to.

[2022-05-17 22:20] Kadigan commented on #758
Hey!

That would be my _primary_ use case (since the service provider that insists on using a custom port _also_ insists on encryption), so **yes please**.

[2022-06-07 03:09] robd003 opened #763 "openssl s_connect timeout"
Could we please use the [`timeout` command](https://man7.org/linux/man-pages/man1/timeout.1.html) to shorten the duration of `openssl s_connect` so that we aren't stuck waiting around for 5 minutes if a host is listening on 443 but doesn't respond in a reasonable fashion?

[2022-06-13 17:35] exxosuk opened #764 "Issues with Thunderbird ?"
I did not seem to have any problems with a older version (about V50) of Thunderbird. But the current version 91 is causing the issues which I think is related to the site certificates. But I'm not really sure where the problem is.

My domain is exxosforum.co.uk where the certificate file seems to work fine. However in Thunderbird 91 the site certificate is listed as my previous post exxoshost.co.u

[2022-06-13 18:13] exxosuk commented on #764
I think this is some issue in Thunderbird as I have the same problem on my laptop with email accounts. But I added in my girlfriends email account onto my own laptop and the email worked fine. So looks like I will just have to delete all the email accounts and add them back in again :-\

[2022-06-13 18:13] #764 closed

[2022-07-08 10:44] rubroboletus opened #765 "getssl with step-ca (smallstep/certificates) as acme"
**Describe the bug**
When trying to use with private ACME CA, running on step-ca (smallstep/certificates) product, getssl is failing in Registering account phase.

**To Reproduce**
Steps to reproduce the behavior:

1. install step-ca (https://github.com/smallstep/certificates) and setup acme provider
2. install getssl, configure step-ca from previous step as ACME provider
3. run getssl -d domain w

[2022-07-27 03:29] #744 closed

[2022-07-27 14:00] timkimber commented on #765
@rubroboletus thanks for reporting this - smallstep can be run as a docker container which means I should be able to easily add a test, reproduce, and fix the problem.

[2022-07-27 14:00] timkimber commented on #763
@robd003 thanks for suggestion, I'm just fixing another issue and then I'll implement this

[2022-07-30 23:37] szolnokit opened #768 "FULL_CHAIN_INCLUDE_ROOT innefective"
If FULL_CHAIN_INCLUDE_ROOT not defined (default: false)
or FULL_CHAIN_INCLUDE_ROOT="false"
"fullchain.pem" **always** contains root CA.

No difference when FULL_CHAIN_INCLUDE_ROOT defined or value "true" or "false".
"fullchain.pem" always contains 3 cert:
1. domain cert
2. R3 (intermediate)
3. ISRG Root X1 (root CA)

[2022-07-30 23:51] szolnokit commented on #768
Patched:
https://github.com/srvrco/getssl/pull/769/commits/0925dcd21fd32d8cab4587d561f8c3a72ab95837

[2022-07-30 23:58] szolnokit commented on #768
This is critical bugfix!
Because the fullchain.pem handling will be different, because the FULL_CHAIN_INCLUDE_ROOT default value is "false".

Because the nature of this bug, the root-CA will be removed from fullchain.

Dear author, please consider, FULL_CHAIN_INCLUDE_ROOT default value will be "true".
In this case, this bugfix (mostly) not affect the fullchain.

[2022-08-02 14:45] timkimber commented on #768
Hi @szolnokit

Thanks for finding this, but according the BashFAQ (http://mywiki.wooledge.org/BashFAQ/031) and my testing, it makes no difference whether the test uses `=` or `==`

With what OS and version of bash did you see this problem?

(I'll merge the PR as for consistency it's better if all the tests use the same style)

[2022-08-02 15:05] szolnokit commented on #768
Hmmm....

I made a small test with "==" and "=" regarding Wikipedia. Same result.

I'm tested again the getssl with "==" and "=". Same result now. Currently working good with only one "=".
But I updated many things after the patch. I can't tell you what bash version I used before.

Because I definetely remember before open this ticket, root-CA always included in fullchain.pem I tested many times.

[2022-08-02 15:23] githubRover commented on #768
@szolnokit The default chain from Let's Encrypt is the "long chain" and looks like this:

[code]
The first is the leaf but the other two are _intermediates_.  Their names are misleading.

As I understand the full_chain_include_root option that would attach the CA Root cert to the chain.  This CA Root is normally in the client's CA cert store.  But, for some (lesser used) servers they want it inclu

[2022-08-10 19:53] Tokarak commented on #350
Or, install full bash from entware and modify the hashbang.
`#!/opt/bin/bash`
Yes, acme.sh seems to be much more robust.

I will drop my error, so that others will (hopefully) find this faster:
./getssl: line 339: syntax error: unexpected "("

[2022-08-12 21:07] andy-igoshin opened #772 "2.46 CNAME problem"
**Describe the bug**
getssl does not follow a CNAME

**To Reproduce**
getssl <domain>  (VALIDATE_VIA_DNS="true")

**Expected behavior**
getssl must follow the CNAME

**Operating system (please complete the following information):**
- OS: Ubuntu 20.04.4
- GNU bash, version 5.0.17(1)-release (x86_64-pc-linux-gnu)

[2022-08-12 21:13] andy-igoshin commented on #772
fix
[cname-fix.txt](https://github.com/srvrco/getssl/files/9329913/cname-fix.txt)

[2022-08-26 10:22] exxosuk opened #775 "./getssl: line 2028: service: command not found"
I'm using version 2.34.

I set up a Cron job to renew knew which works fine. However at the end of the job it comes up an error and apache2 does not reload.

`copying CA certificate to /etc/ssl/chain.crt
copying full chain to /etc/ssl/certs/dovecot.pem
reloading SSL services
./getssl: line 2028: service: command not found
getssl: error running: service apache2 reload`

If I manually type in servic

[2022-08-26 15:58] githubRover commented on #775
cron is probably running in a different shell with a different path

Maybe try ideas in a thread like this one:
https://stackoverflow.com/questions/2388087/how-to-get-cron-to-call-in-the-correct-paths

[2022-08-26 16:04] exxosuk commented on #775
Cron correctly calls getssl and updates. The reload is inside the getssl config file itself. I am not actually calling the reload from the cron job , its inside the getssl file.   I assume it wouldn't matter where the actual reload command comes from path wise ?

[2022-08-26 16:31] githubRover commented on #775
No, getssl is invoking that `service `command you configured.  That is the command causing the not found from inside cron shell.  If you want, as a test, change the service reload to something else like an echo to a file and see if that runs.  I am sure you will find a path problem locating apache2 from cron shell

[2022-08-26 17:08] exxosuk commented on #775
A test file from cron just goes in root.. I can run service apache2 from root, so I don't get what the difference is.

I guess it might be easier to just reload from cron as a command and see what happens that way.

[2022-08-26 17:25] exxosuk commented on #775
I think I worked it out.

`Which service`

Gives me /usr/sbin/service

So putting /usr/sbin/service apache2 reload seems to work in crontab itself.

Otherwise it just throws up a error in the log.

/bin/sh: 1: service: not found

[2022-08-26 17:59] exxosuk commented on #775
That is what I did in my previous post.

[2022-08-27 15:30] #775 closed

[2022-09-22 14:14] gary-hammer opened #776 "Erroneous report."
Erroneous report.

[2022-09-22 14:21] #776 closed

[2022-09-24 12:15] workdvdh opened #777 "getssl: ACME server returned error: 400: "detail": "Error finalizing order :: signature algorithm not supported""
Hello,

We use getssl to manage our letsencrypt. It's been working fine up until recently where we get the following error

getssl -u -w /root/.getssl/ ourdomain.org

Registering account
Verify each domain
Verifying scripts.iucr.org
scripts.iucr.org is already validated
Verification completed, obtaining certificate.
Requesting Finalize Link
getssl: ACME server returned error: 400:   "detail": "Err

[2022-09-24 14:04] githubRover commented on #777
There was a recent change by Let's Encrypt which no longer supports SHA-1. See this post:
https://community.letsencrypt.org/t/rejecting-sha-1-csrs-and-validation-using-tls-1-0-1-1-urls/175144

If that is not enough for you to resolve this you will probably get better answer if you post about this on that community forum in the Help section

[2022-09-24 14:29] workdvdh commented on #777
Thank you very much for this information. I will look into it.

[2022-09-24 23:59] jeffsco commented on #777
I'm having the problem reported above, as of a few minutes ago. The last time I ran getssl was 2 months ago, and it worked well. Today it's failing exactly as above. I suspect that somebody will need to rewrite getssl to obey the new restrictions at Let's Encrypt. I don't see any configuration parameters that allow me to work around the restrictions. (Granted these things are pretty complicated.)

[2022-09-25 02:27] githubRover commented on #777
I use getssl v2.41 and got a fresh Let's Encrypt cert today.  So, there must be something different about your system.  I haven't studied the getssl code to know why it might not work but I encourage you to post on the Let's Encrypt community forum.  I am sure they will want to know what oper sys you use, it's version, your version of openssl, and so on.

I doubt very much something since v2.41 ch

[2022-09-25 02:29] jeffsco commented on #777
Thanks, this is very useful information.

[2022-09-25 03:25] githubRover commented on #777
I looked at the getssl code a little.  I did not follow all the twists and turns.

But, one difference might be that I use
REUSE_PRIVATE_KEY="false"

This causes a fresh private key and a fresh CSR to be created each time

If you use different settings such that you use your own CSR (or reuse a very old one) perhaps that is why your cert request fails.   If this is the case, make sure to update th